@media screen and (min-width: 375px) {
.challenge-card{
    width: 90%;
    padding: 12px;
    border-radius: 10px;
  }
  .challenge-card> .title {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 5vw
  }
  .challenge-card> .description {
    font-size: 4vw 
  }
  .challenge-card> .title  > .pin {
    width: 7vw;
    height: 7vw;
  
  }
  
  
  .challenge-card> .title > .difficulty {
    font-weight: bold;
    font-size: xx-small;
    padding: 1vw 2vw;
    border-radius: 2vw;
    color: white;
    font-size: 2vw;
  }
  .challenge-card> .title > .difficulty.hard {
    background-color: red;
  }
  .challenge-card> .title > .difficulty.medium {
    background-color: orange;
  
  }
  .challenge-card> .title > .difficulty.easy {
    background-color: limegreen;
  
  }
  .challenge-card> .title::before {
    content: attr(dataindex) ".";
  }
  .challenge-card> .button-container {
    gap: 1vw;
    margin-top: 1vh;

  }
  .challenge-card> .button-container > .tick {
    width: 8vw;
    height: 8vw;
  }
  
  .challenge-card> .button-container > .cross {
    width: 7vw;
    height: 7vw;
  
  }

}