@media only screen and (min-width: 375px) {
  .challenges-section {
    margin-top: 70px;
    width: calc(100% - 24px);
    padding: 0 12px;
  }



  .challenges-section>.primary>.challenges-section-nav {
    width: calc(100% - 16px);
    padding: 8px;
    gap: 12px;
  }

  .challenges-section>.primary>.challenges-section-nav>.total-challenges-data-wrapper {
    gap: 11px;
    margin-bottom: 11px;
  }

  .challenges-section>.primary>.challenges-section-nav>.total-challenges-data-wrapper>.data {
    gap: 4px;
  }

  .challenges-section>.primary>.challenges-section-nav>.total-challenges-data-wrapper>.data>.name {
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 13px;
  }

  .challenges-section>.primary>.challenges-section-nav>.total-challenges-data-wrapper>.data>.value {
    font-size: 15px;
  }
/* menu button */

  .challenges-section>.primary>.challenges-section-nav>.menu-button-wrapper>.menu-button {
    padding: 4px 9px;
    border-radius: 4px;
    font-size: 15px;
    width: calc(100% - 20px);  
  }
 .challenges-section > .primary > .challenges-section-nav > .menu-button-wrapper>.menu-button>.svgCont {
    width: 15px;
    height: 15px;
  }
 
 .challenges-section > .primary > .challenges-section-nav > .menu-button-wrapper>.menu-options-wrapper {
    margin-top: 4px;
    border-radius: 4px;
  }
 .challenges-section > .primary > .challenges-section-nav > .menu-button-wrapper>.menu-options-wrapper.button-type>.option {
    padding: 4px 9px;
    font-size: 15px;
    gap: 8px;
  }
 .challenges-section > .primary > .challenges-section-nav > .menu-button-wrapper>.menu-options-wrapper.button-type>.option>svg {
    width: 15px;
    height: 15px;
  }
 .challenges-section > .primary > .challenges-section-nav > .menu-button-wrapper>.menu-options-wrapper.checkbox-type {
    gap: 8px;
    left: -20px;
    padding: 4px 9px;
  }


 .challenges-section > .primary > .challenges-section-nav > .menu-button-wrapper>.menu-options-wrapper.checkbox-type>.option>span {
    padding: 4px 9px;
    font-size: 12px;
    border-radius: 20px;
  }
  .challenges-section > .primary > .challenges-section-nav >.search-input-wrapper{
    border-radius: 4px;  
    gap: 4px;
    padding: 6px ;
  }

  .challenges-section>.primary>.challenges-section-nav>.search-input-wrapper>.svgCont {
    width: 17px;
    height: 17px;
  }

  .challenges-section>.primary>.challenges-section-nav>.search-input-wrapper>input {
    width: 88%;
    font-size: 15px;
  }

  .challenges-section>.primary>.challenges-section-nav>.create-challenge-button {
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 20px;
    gap: 4px;
  }

  .challenges-section>.primary>.challenges-section-nav>.create-challenge-button>.svgCont {
    width: 13px;
    height: 13px;
  }

  .challenges-section>.primary>.challenges-section-nav>.active-filters-list {
    gap: 8px;
    margin-top: 12px;
  }

  .challenges-section>.primary>.challenges-section-nav>.active-filters-list>.filter {
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 13px;
    gap: 7px;
  }

  .challenges-section > .primary > .challenges-section-nav >.active-filters-list > .filter > .close-icon{
    border-radius: 20px;
   padding: 4px;
  }
  .challenges-section > .primary > .challenges-section-nav >.active-filters-list > .filter > .close-icon > svg{
    width: 12px;
    height: 12px;
  }
  .challenges-section>.primary>.challenge-cards-wrapper {
    gap: 15px;
    padding: 12px 0;
  }


}