@media screen and (min-width: 375px) {
  
.challenge-card{
  padding: 13px;
  padding-bottom: 4px;
  border-radius: 13px;
}

.challenge-card > .header{
gap: 13px;
}
.challenge-card > .header > .title {
  gap: 8px;
  font-size: 19px;
}
.challenge-card > .header > .tags-wrapper {
  padding: 4px;
  gap: 13px;
  border-radius: 20px;
}
.challenge-card > .header  > .tags-wrapper  > .pin-icon {
  width: 20px;
  height: 20px;
}

.challenge-card > .header > .tags-wrapper > .difficulty {
  font-size: 13px;
}
/* main */
@keyframes spawnAnimation{
  0%{
    padding: 0;
  }
  100%{
    padding: 8px 0;
  }
}
.challenge-card > .main{
 padding: 8px 0;
}
.challenge-card > .main > .task-divisitions-wrapper{
  gap: 4px;
}
.challenge-card > .main > .task-divisitions-wrapper > .task-divisition{
 gap: 13px;
 font-size: 19px;
}

.challenge-card > .main > .task-divisitions-wrapper > .task-divisition > input{
width: 15px;
}

.challenge-card > .footer > .left{
  gap: 8px;
}
.challenge-card > .footer > .left > .details-toggle-button > svg{
  width: 32px;
  height: 32px;
 }
 .challenge-card > .footer > .left > .complete-progressbar{
   height: 17px;
  border-radius: 20px;
  } 
  .challenge-card > .footer > .left > .complete-progressbar > .percent-text{
  font-size: 15px;
}
 .challenge-card> .footer > .right {
  gap: 4px;
  margin-top: 8px;
}
.challenge-card> .footer > .right > .tick {
  width: 32px;
  height: 32px;
}
.challenge-card> .footer > .right > .cross {
  width: 28px;
  height:28px;
}


}
