@media screen and (min-width: 375px) {
:root {
    --nav-height: 20px;
    --nav-vertical-padding: 38px;
  }
 
  .main-nav {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 96vw;
  }

 
   .main-nav > .content-wrapper > .primary  {
    gap: 8px;
    z-index: 100;

   }

  .main-nav > .content-wrapper > .primary > .site-brand > .svgCont {
    width: 35px;
    height: 35px;
  }
  .main-nav > .content-wrapper > .primary > .site-brand > .app-name{
   font-size: 22px;
  }
  .main-nav > .content-wrapper > .primary > .back-button {
    width: 25px;
    height: 25px;
   }   
  .main-nav > .content-wrapper > .primary > .nav-title{
    font-size: 19px;
  }
  .main-nav > .content-wrapper > .secondary {
    gap: 8px;
  }
  .main-nav > .content-wrapper > .secondary > .signin-button {
    border-radius: 8px;
    padding: 6px 8px;
    font-size: 14px;
  }
  .main-nav > .content-wrapper > .secondary > .notification-button {
    width: 34px;
    height: 34px;
  }
  .main-nav > .content-wrapper > .secondary > .notification-button > .badge {
    font-size: 10px;
    padding: .5px 4px;
  }
  .main-nav > .content-wrapper > .secondary > .profile-button {
    width: 34px;
    height: 34px;
  }

  .main-nav > .content-wrapper > .secondary > .profile-button .user-avatar {
   border-width: 1px;
   --level-badge-font-size: 5px;
  }
  .main-nav > .content-wrapper > .notifications-section {
    width: 300px;
    height: 70%;
    top: 70px;
    right: 15px;
    border-radius: 15px ;
  }
/* challenges section nav */
.main-nav > .challenges-section-nav {    
  width: calc(100% - 20px);
  padding: 5px 10px;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: var(--layout-bg-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

}