@media screen and (min-width: 375px) {
:root {
    --nav-height: 20px;
    --nav-vertical-padding: 38px;
  }
 
  .main-nav {
    padding-left: 12px; 
   padding-right: 23px;
    width: calc(100vw - 35px);
  }

  .main-nav > .content-wrapper > .primary > .site-brand > .svgCont {
    width: 35px;
    height: 35px;
  }
  .main-nav > .content-wrapper > .primary > .site-brand > .app-name{
   font-size: 22px;
  }
  .main-nav > .content-wrapper > .primary > .back-button {
    width: 25px;
    height: 25px;
   }   
  .main-nav > .content-wrapper > .primary > .nav-title{
    font-size: 19px;
  }
  .main-nav > .content-wrapper > .secondary {
    gap: 8px;
  }
  .main-nav > .content-wrapper > .secondary > .signin-button {
    border-radius: 8px;
    padding: 6px 8px;
    font-size: 14px;
  }
  .main-nav > .content-wrapper > .secondary > .notification-button {
    width: 34px;
    height: 34px;
  }
  .main-nav > .content-wrapper > .secondary > .notification-button > .badge {
    font-size: 10px;
    padding: .5px 4px;
  }
  /* profile button wrapper */
  .main-nav > .content-wrapper > .secondary >.profile-button-wrapper> .profile-button {
    width: 34px;
    height: 34px;
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper> .profile-button >.user-avatar {
    border-width: 1px;
    --level-badge-font-size: 5px;
   }

  /* profile menu */

  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary {
    width: calc(100% - 24px);
    padding: 12px;
  }  

  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view {
      gap: 4px;
     padding: 4px 0;
    }
    .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary {
      gap: 8px;
    }
    .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary > .user-avatar {
      width: 80px;
      height: 80px;
      border-width: 2px ; 
      --level-badge-font-size: 13px;
    }
    .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary > .username-wrapper{
      gap: 4px;
    }
    .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary > .username-wrapper > .name {
      font-size: 15px;
    }
    .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary > .username-wrapper > .username {
      font-size: 13px;
    }
    .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary > .username-wrapper> .status {
     font-size: 11px;
      }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary  > .hide-button {
    width: 25px;
    height: 25px;
  }

  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > hr{
    margin: 11px auto;
  } 
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > :is(.primary-buttons-wrapper,.navigation-buttons-wrapper) > a{
   width: calc(90% - 24px);
   padding: 12px;
   gap: 20px;
   border-radius: 4px;
   font-size: 19px;
  } 
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > :is(.primary-buttons-wrapper,.navigation-buttons-wrapper) > a > .svgCont{
    width: 24px;
    height: 24px;    
  }
   .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > .primary-buttons-wrapper > .appearance-menu-button{
   font-size: 19px;
   }
   .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > .primary-buttons-wrapper > .appearance-menu-button > summary{
  gap: 20px;
 width: calc(90% - 24px); ;
 padding: 12px;
 border-radius: 4px;
 }

   .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > .primary-buttons-wrapper > .appearance-menu-button > summary > .appearance-icon{
   width: 23px;
   height: 23px;
  }
   .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > .primary-buttons-wrapper > .appearance-menu-button > summary > .drop-down-icon{
    width: 20px;
    height: 20px;
   }
   .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > .primary-buttons-wrapper > .appearance-menu-button > .option{
    width: calc(80% - 22px);
    padding:11px;
    border-radius: 4px;
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > .primary-buttons-wrapper > .appearance-menu-button > .option > svg{
    width: 20px;
    height: 20px;
  }
 
}