@media screen and (min-width: 375px) {
.notifications-section > nav {
  width:calc(100% - 24px) ;
  padding:  12px;

}
.notifications-section.short-view {
  right: -30px;
  border-radius: 4px ;
}

.notifications-section:not(.short-view) > nav{
  margin-bottom: 20px;

}

.notifications-section > nav > .heading{
  font-size: 24px;
}
.notifications-section > nav > .right  {
  gap: 15px;

}

.notifications-section > nav > .right > .filter-buttons-wrapper > .button{
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 20px;

}
.notifications-section > nav > .right > .more-button{
  width: 28px;
  height: 28px;
} 
.notifications-section > nav > .right > .more-options-wrapper{
  right: 33px;
  border-radius: 12px;
}

.notifications-section > nav > .right > .more-options-wrapper > .option{
  gap: 6px;
  font-size: 15px;
  padding: 8px 15px;
}
.notifications-section > nav > .right > .more-options-wrapper > .option > .svgCont{
  width:20px;
  height:20px;
}

.notifications-section > .group > .date{
  width: calc(100% - 30px);
  padding: 6px 15px;
font-size: 19px;
}
.notifications-section > .notifications-wrapper > .notification{
  width: calc(100% - 8px);
  padding: 12px 4px;
  gap: 4px;
}

.notifications-section > .notifications-wrapper > .notification > .icon-wrapper{
  padding: 4px;
}
.notifications-section > .notifications-wrapper > .notification > .icon-wrapper > .svgCont{
  width: 32px;
  height: 32px;
}
.notifications-section > .notifications-wrapper > .notification > .message-wrapper{
gap: 2px;
}

.notifications-section > .notifications-wrapper > .notification > .message-wrapper > .type{
  font-size: 19px;
}
.notifications-section > .notifications-wrapper > .notification > .message-wrapper > .message{
  font-size: 15px;
}
.notifications-section > .notifications-wrapper > .notification > .message-wrapper > .date{
  font-size: 13px;
  margin-top: 4px;
}

.notifications-section > .notifications-wrapper > .notification > .more-button{
  width: 40px;
  height: 40px;
}

.notifications-section > .bottom-buttons-container {
  width:calc(100% - 24px);
  padding: 12px;
}
.notifications-section > .bottom-buttons-container .settings-button{
  width: 24px;
  height: 24px;
}
.notifications-section > .bottom-buttons-container > .see-all-button{
  font-size: 15px;
 }
  .notification-more-options-wrapper{
  border-radius: 12px;
}
  .notification-more-options-wrapper > .option{
  gap: 6px;
  font-size: 15px;
  padding: 8px 15px;
}
  .notification-more-options-wrapper > .option > .svgCont{
  width: 19px;
  height: 19px;
}

}