@media screen and (min-width: 375px) {
.peoples-section{
    margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 40px);
}
.peoples-section > .search-bar-wrapper {
    margin: 26px auto;
    border-radius: 20px;
    padding:0 12px;

  }
.peoples-section > .search-bar-wrapper > .search-bar {
    width: 85%;
    height: 29px;
    font-size: 15px;
  }
.peoples-section > .search-bar-wrapper > .close-button {
     width:15px;   
     height:15px;
  }
 

.peoples-section > .search-results{
    width: 90%;
    margin: 0 auto;
    gap: 15px;
    margin-bottom: 30px;

}
.peoples-section > .search-results > .users-short-info-wrapper{
    width: 90%;
    margin: 0 auto
}
.peoples-section > .recent-searches{
    width: 90%;
    margin: 0 auto;  
}

.peoples-section > .recent-searches > .title{
    font-size: 19px;
    margin-bottom: 15px;
}

.peoples-section > .recent-searches > .users-short-info-wrapper{
    width: 90%;
   margin: 0 auto
}
}