@media screen and (min-width: 375px) {
  .profile{
    padding: 20px 0;
    gap: 40px;
  }
  .profile > section{
    border-radius: 10px;
    padding: 17px;
  }
  /* info section */
  .profile > .info-section {
    gap: 22px;
  }
    /* primary */
  .profile > .info-section>.primary {
    margin: 8px 0;
    gap: 15px;
  }
  .profile > .info-section>.primary > .user-primary-info-wrapper{
    gap: 8px;
    width: 100%;
  }

  .profile > .info-section>.primary > .user-primary-info-wrapper > .image-side > .user-avatar {
    width: 95px;
    height: 95px;
    border-width: 2px;
    --level-badge-font-size:15px;
  }
  .profile > .info-section>.primary > .user-primary-info-wrapper > .text-side {
    gap: 4px;
  }
  .profile > .info-section>.primary > .user-primary-info-wrapper > .text-side > .name{
    font-size: 15px;
  }
  .profile > .info-section>.primary > .user-primary-info-wrapper > .text-side > :is(.username, .status){
    font-size: 11px;
  }
  .profile > .info-section>.primary > .user-primary-info-wrapper > .text-side > .rank{
    font-size: 15px;
    margin-top: 7px;
  }
  .profile > .info-section>.primary > .profile-edit-button{
    font-size: 15px;
    gap: 3px;
    padding: 7px;
    border-radius: 8px;
  }
  .profile > .info-section>.primary > .profile-edit-button > .svgCont{
    width: 15px;
    height: 15px;
  }

  
  
  /*recent challenges*/
  .profile >.recent-challenges { 
    gap: 4px;
  }
  .profile > .recent-challenges > .top-nav > .title {
    font-size: 15px;
  }
  .profile > .recent-challenges >  .top-nav >.see-all-button {
    font-size: 15px;
  }

  .profile > .recent-challenges > .challenge-cards-wrapper {
    gap: 18px;
    padding: 4px 0;
    margin: 8px 0;
  }
  

}