@media screen and (min-width: 375px) {
.profile{
  margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 3vw);
  margin-bottom: 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
  gap: 10vw;
}
/* info section */
.profile > .info-section {
  gap: 3vw;
  background-color: var(--container-bg-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5vw;
  width: 85%;
  padding: 4vw;
  padding-top: 0;
}


.profile > .info-section>hr {
  width: 100%
}
.profile > .info-section>.primary {
  margin: 2vw 0;
  width: 100%;
  gap: 2vw;
}
.profile > .info-section>.primary > .user-primary-info-wrapper{
  gap: 2vw;
  width: 100%;
}
.profile > .info-section>.primary > .user-primary-info-wrapper{
  justify-content: flex-start;
  align-items: center;
}
.profile > .info-section>.primary > .user-primary-info-wrapper > .image-side {
 
}
.profile > .info-section>.primary > .user-primary-info-wrapper > .image-side > .user-avatar {
  width: 20vw;
  height: 20vw;
  border-width: .7vw;
  --level-badge-font-size:3vw;
}
.profile > .info-section>.primary > .user-primary-info-wrapper > .text-side {
  gap: 1vw;
  align-items: flex-start;
  justify-content: center;
}
.profile > .info-section>.primary > .user-primary-info-wrapper > .text-side > .name{
  font-size: 5vw;
  font-weight: bold;
}
.profile > .info-section>.primary > .user-primary-info-wrapper > .text-side > .username{
  font-size: 3vw;
  color: var(--paragraph-color-secondary);
}
 
 
.profile > .info-section>.primary > .top-items-wrapper{
 justify-content: space-between;
 align-items: center;
 width: 100%;
}
.profile > .info-section>.primary > .top-items-wrapper > .username{
  font-size: 4vw;
  color: var(--paragraph-color-secondary);
}

.profile > .info-section>.primary > .top-items-wrapper > .profile-edit-button{
  font-size: 4vw;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: var(--theme-secondary-default);
  gap: .5vw;
}

.profile > .info-section>.primary > .top-items-wrapper > .profile-edit-button > .svgCont{
  width: 4vw;
  height: 4vw;
}



.profile > .info-section> div[role="progressbar"] {
  --size: 60vw;
  --fg: var(--theme-secondary-default);
  --bg: var(--info-bg-color);
  --inner-color:var(--container-bg-color);
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.profile > .info-section >.rounded-progress-bar  > .number h3 {
  font-weight: 200;
  font-size: 9vw;
}

.profile > .info-section >.rounded-progress-bar > .number h3 span {
  font-size: 6vw;
}

.profile > .info-section > .info {
  width: 95%;
  justify-content: space-between;
  border-radius: 3vw;
  overflow: hidden;
 background-color: var(--info-bg-color);
 font-size: 4vw;
}
.profile > .info-section > .info > .name {
  padding: 2vw 4vw;
  width: 44%
}
.profile > .info-section > .info > .value {
  padding: 2vw 4vw;
  width: 56%

}

/*recent challenges*/
.profile >.recent-challenges { 
  gap: 1vw;
  background-color: var(--container-bg-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5vw;
  width: 85%;
  padding: 4vw;
}

.profile > .recent-challenges > .title {
  font-size: 4vw;
  color: var(--paragraph-color-secondary);
}

.profile > .recent-challenges > .challenge-cards-wrapper {
  width: 100%;
  height: 90%;
  gap: 4vw;
  align-items: center;
  justify-content: top;
  padding: 1vw 0;
  margin-top: 2vw;

}

.profile > .recent-challenges > .see-all-button {
  border: none;
  font-weight: bold;
  padding: 1.5vw 3vw;
  align-self: center;
  border-radius: 4vw;
  margin-top: 2vw;
  width: 40%;
  font-size: 4vw
}

}