@media screen and (min-width: 375px) {
 
  /* header */
  .settings-section > .header{
    padding: 38px 0 76px  0;
  }
 
  .settings-section > .header > .user-primary-info-wrapper{
    gap: 7px;
  }
  .settings-section > .header > .user-primary-info-wrapper > .user-avatar-label >  .user-avatar{
    width: 110px;
    height: 110px;  
    --level-badge-font-size: 18px;
  }
  .settings-section > .header > .user-primary-info-wrapper > .user-avatar-label > svg {
    width: 76px;
    height: 76px;
    top: 20px;
    left: 20px;
  } 
 
  .settings-section > .header > .user-primary-info-wrapper > .text-wrapper> .name{
    font-size: 26px;
    gap: 8px;

  }

  .settings-section > .header > .user-primary-info-wrapper > .text-wrapper> .name > .svgCont{
  width: 19px;
  height: 19px;
  }
  .settings-section > .header > .user-primary-info-wrapper > .text-wrapper> .username{
    font-size: 15px;
  }

  /* navigation buttons wrapper */
  .settings-section > .main-content > .navigation-buttons-wrapper{
    gap: 8px;
    padding-top: 20px;
  }
  .settings-section > .main-content > .navigation-buttons-wrapper > a{
    width: calc(85% - 40px);
   gap: 8px;
   padding: 12px 20px;
   border-radius: 8px;
  } 
  .settings-section > .main-content > .navigation-buttons-wrapper > a > svg{
    width: 19px;
    height: 19px;
  }
  
  /* outlet wrapper */
  .settings-section > .main-content > .content{
    top: -40px;
  }

  .settings-section > .main-content > .content > .content-show-button{
   padding: 8px 15px ;
    top: 19px;
    left: -38px;
    border-radius: 0 0 8px  8px;
  }
  .settings-section > .main-content > .content > .content-show-button > svg{
    width: 15px;
    height: 15px;
  }
  
  .settings-section > .main-content > .content > .header {
  width:calc(100% - 24px);
  padding: 12px;
   gap: 4px;
  }
  .settings-section > .main-content > .content > .header .heading{
  font-size: 26px;
  margin-left: 8px;
  }
  .settings-section > .main-content > .content > .header > .hamburger{
   width: 33px;
   height: 33px;
   border-radius: 4px;
  }
  .settings-section > .main-content > .content > .header > .drop-down-icon{
    width: 20px;
    height: 20px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper{
     padding: 19px 0;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper > .outlet{
    width:var(100% - 44px);
    gap: 26px;
   padding: 0 22px;
   }
  
   .settings-section > .main-content > .content >  .outlet-wrapper > .account > .delete-account-button{
     padding: 8px 15px;
     border-radius: 8px;
     font-size: 17px;
   }

  .settings-section > .main-content > .content >  .outlet-wrapper section > .section-name{
    font-size: 22px;
  }
  
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper{
   gap: 12px;
   margin-top: 7px;
  }
  /* content */
  
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content{
  gap: 15px;
  padding: 8px 0;
  }  
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content  > .title{
    font-size: 20px;
   
  } 
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper{
    gap: 8px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value{
    font-size: 20px;
  } 
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field{
    font-size: 15px;
    }
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field:not(.select){
    border-radius: 4px;
    padding: 8px ;
    width: 240px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field.select{  
    width: 100px;
   }
   .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field.select > summary{  
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 4px;
   }
   .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field.select > summary > .svgCont{  
    width: 20px;
    height: 20px;
    }
    .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field.select > .options-wrapper{
    border-radius: 4px;
    margin-top: 4px;
    }

    .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field.select > .options-wrapper > .option{
      font-size: 20px;
      padding: 4px 8px;
      width: calc(100% - 16px);
    }

   .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .buttons-wrapper{
    gap: 11px;
  }   
   .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .buttons-wrapper > button{
    padding:  8px;
    border-radius: 8px;
    font-size: 15px;
   }
   .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > :is(.edit-button,.connect-disconnect-button,.link-button){
    font-size:17px;
  }     
  
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.privacy-type > .value-wrapper > .description{
    font-size: 17px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.connect-type  > .platform{
    gap: 12px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.connect-type > .platform > .logo{
   padding: 10px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.connect-type > .platform > .logo > svg{
    width: 26px;
    height: 26px;
  
  }


  /* notifications settings */
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings{
    gap: 0;
   padding: 0;
  }
  
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .header{
  padding: 12px 33px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .header > .name{
   font-size: 22px;
  } 
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .header > .right{
   width: 120px;
   font-size: 19px;
  }  
  
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-category{
    padding: 12px 33px;
    font-size: 19px;
  }
  
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type{
    padding: 12px 24px;
    width: calc(95% - 48px);  
  }
 
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .name{
    font-size: 19px;
    width: 154px;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .right {
    width: 110px;
  } 
  
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .right > .checkbox-wrapper{
    width: 30px; 
  }
  .settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .right > .checkbox-wrapper > input{
  width:19px;
  height:19px;
  } 
  
}