.accounts-section{
  width: 100vw;
  height: 100vh;
  max-height: 800px;
}

.accounts-section > .form {
  width: 80%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 3vw 10vw 3vw;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
   background-color: var(--container-bg-color);
  
  }
  
  .accounts-section > .form>.heading {
  font-style: italic;
  color:var(--paragraph-color-primary);
  font-size: 9vw;
  margin-bottom: 7vw;
  }
  
  .accounts-section > .form > .outlined-custom-field {
    width: 90%;
    --input-font-size: 5vw;
    --label-font-size: 4vw;
   }
   .accounts-section > .form > .outlined-custom-field > input{
     width: calc(100% - 4vw);
  }
   
  .accounts-section > .form > .message {
  width: 90%;
  color: red;
  font-size: 2.5vw;  
  margin-top: .3vw;
  }
  .accounts-section > .form > .message:not(:last-of-type) {
    margin-bottom: 2vw;
  }
  .accounts-section > .form > .links-container{
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5vw;
  }
  .accounts-section > .form > .links-container > a{
   color: var(--theme-secondary-default);
   text-decoration: none;
   font-size: 4vw;
  }

   
  .accounts-section > .form > button[type="submit"] {
    width: 90%;
    font-weight: bold;
    background-color: orangered;
    color: white;
    padding: 2vw;
    border: none;
    border-radius: 1vw;
    font-size: 4vw;
    }
    .accounts-section > .form :is(button[type="submit"]:hover,button[type="submit"]:active) {
    background-color: orange;
    }
    .accounts-section > .form >.link-wrapper{
      width: 80%;
      font-size: 4vw;
      margin-top: 3vw;
    }
    .accounts-section > .form >.link-wrapper > a{
     text-decoration: none;
     color: var(--theme-secondary-default);
     font-weight: bold;
     margin-left: 2vw;
    }

    .accounts-section > .form >  .or{
      font-size: 4vw;      
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10vw 0;
     }
     .accounts-section > .form >  .or > p{
       position: absolute;
       color: lightgray;
       background-color: var(--container-bg-color);
       padding: 0 3vw;
     }
     .accounts-section > .form >  .or > .border{
       width: 100%;
       border-bottom: 1px solid lightgray;
     }
 

    .accounts-section > .form > .with-social-media-container{
     gap: 4vw;
     width: 90%;
    } 
    .accounts-section > .form > .with-social-media-container .title{
    color: var(--paragraph-color-secondary);
    font-size: 4vw;
    }
    .accounts-section > .form > .with-social-media-container > .platforms-wrapper{
      gap: 5vw;
    } 
    .accounts-section > .form > .with-social-media-container > .platforms-wrapper > .platform{
     overflow: hidden;
     border: none;
     background-color: white;
     box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
     border-radius: 100%;
     padding: 3vw;
     display: flex;
     justify-content: center;
     align-items: center;
    } 
    .accounts-section > .form > .with-social-media-container > .platforms-wrapper > .platform > svg{
      width: 6vw;
      height: 6vw;
    }
