
:root {
  --theme-primary: rgba(0,0,0,0.5);
  --theme-secondary-gradient: linear-gradient(to right,red,darkorange);
  --theme-secondary-default: orangered;
  --border-active-color:var(--theme-secondary-default);
 
  
}

@media (prefers-color-scheme: light) {
:root{
  --body-bg-color:white;
  --icon-color:black;
  --container-bg-color: white;
  --container-bg-color-secondary: whitesmoke;

  --paragraph-color-primary:black; 
  --paragraph-color-secondary:gray; 
  --border-color:gray;
  --layout-bg-color:white;
 --challenge-card-bg-color:whitesmoke;
 --item-bg-color:whitesmoke;

 --notification-unread-bg-color:rgb(248, 228, 210); 
  /* status */
  --sigma-color: orange;
  --alpha-color: red;
  --beta-color: blue;
  --gamma-color: brown;
  --delta-color: lime;
  --omega-color: grey;
}
}

@media (prefers-color-scheme: dark) {
  :root{
    --body-bg-color:#333;
    --icon-color:white;
    --container-bg-color: #515151;
    --container-bg-color-secondary: #515151;
    --paragraph-color-primary:white; 
    --paragraph-color-secondary:lightgray; 
    --border-color:lightgray;
    --layout-bg-color: #333 ;
    --challenge-card-bg-color:#6e6e6e;
    --item-bg-color:gray;
    --notification-unread-bg-color:rgb(148, 131, 116) ;
    /* status */
    --sigma-color: yellow;
    --alpha-color: red;
    --beta-color: skyblue;
    --gamma-color: brown;
    --delta-color: lime;
    --omega-color: grey;
  }
  }
.theme-light{     
  --body-bg-color:white;
  --icon-color:black;
  --container-bg-color: white;
  --container-bg-color-secondary: whitesmoke;

  --paragraph-color-primary:black; 
  --paragraph-color-secondary:gray; 
  --border-color:gray;
  --layout-bg-color:white;
 --challenge-card-bg-color:whitesmoke;
 --item-bg-color:whitesmoke;
 --notification-unread-bg-color:rgb(248, 228, 210); 
  /* status */
  --sigma-color: orange;
  --alpha-color: red;
  --beta-color: blue;
  --gamma-color: brown;
  --delta-color: lime;
  --omega-color: grey;
/* difficulty */
--easy-color: green;
}  

.theme-dark{
  --body-bg-color:#333;
  --icon-color:white;
  --container-bg-color: #515151;
  --container-bg-color-secondary: #515151;
  --paragraph-color-primary:white; 
  --paragraph-color-secondary:lightgray; 
  --border-color:lightgray;
  --layout-bg-color: #333 ;
  --challenge-card-bg-color:#6e6e6e;
  --item-bg-color:#ffffff1a;
  --notification-unread-bg-color:rgb(148, 131, 116) ;
  /* status */
  --sigma-color: yellow;
  --alpha-color: red;
  --beta-color: skyblue;
  --gamma-color: brown;
  --delta-color: lime;
  --omega-color: grey;
  /* difficulty */
--easy-color: limegreen;
}


.easy{
  color: var(--easy-color);
}
.medium{
  color: orange;
}
.hard{
  color: red;
}
.crazy{
  color: purple;
}