
:root {
  --theme-primary: rgba(0,0,0,0.5);
  --theme-secondery-gradient: linear-gradient(to right,red,darkorange);
  --theme-secondery-default: orangered;
}


.theme-light{     
  --body-bg-color:white;
  --icon-color:black;
  --container-bg-color: white;
  --paragraph-color-primary:black; 
  --paragraph-color-secondary:gray; 
 --layout-bg-color:white;
 --challenge-card-bg-color:whitesmoke;
 --info-bg-color:whitesmoke;
  /* rank */
  --sigma-color: orange;
  --alpha-color: red;
  --beta-color: blue;
  --gamma-color: brown;
  --delta-color: lime;
  --omega-color: grey;

}  

.theme-dark{
  --body-bg-color:#333;
  --icon-color:white;
  --container-bg-color: #515151;
  --paragraph-color-primary:white; 
  --paragraph-color-secondary:lightgray; 
  --layout-bg-color: #333 ;
  --challenge-card-bg-color:#515151;
  --info-bg-color:gray;
  /* rank */
  --sigma-color: yellow;
  --alpha-color: red;
  --beta-color: skyblue;
  --gamma-color: brown;
  --delta-color: lime;
  --omega-color: grey;
  
}




