.challenges-section {
  --margin-top:calc(var(--nav-vertical-padding) + var(--nav-height) + 4vw);
  margin-top: var(--margin-top);
  background-color: transparent;
  width: calc(100% - 6vw);
  height: calc(100vh - var(--margin-top));
  padding: 0 3vw;
}
.challenges-section > .primary {
  width: 100%;
  max-width: 700px;
}

.challenges-section > .primary > .challenges-section-nav {
  width: calc(100% - 4vw);
  padding: 2vw;
  flex-wrap: wrap;
  gap:3vw;
 }
 .challenges-section > .primary > .challenges-section-nav >.total-challenges-data-wrapper{
  gap: 3vw;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 3vw;
 }
 .challenges-section > .primary > .challenges-section-nav >.total-challenges-data-wrapper > .data{
  gap: 1vw;  
 }
 .challenges-section > .primary > .challenges-section-nav >.total-challenges-data-wrapper > .data > .name{
  background-color: var(--item-bg-color);
  padding: 1vw 2vw;
  border-radius: 5vw;
  font-size: 3.5vw;
 }
 
 .challenges-section > .primary > .challenges-section-nav >.total-challenges-data-wrapper > .data > .value{
  font-size: 4vw;
 }
 .challenges-section > .primary > .challenges-section-nav  > .menu-button-wrapper{
  --button-bg-color:var(--container-bg-color-secondary);
  --options-wrapper-bg-color:var(--container-bg-color);
  --color:var(--paragraph-color-primary);
  --checkbox-bg-color:var(--container-bg-color-secondary);
  --checkbox-checked-bg-color:var(--theme-secondary-default);
  --checkbox-checked-bg:var(--theme-secondary-gradient);
  --checkbox-checked-color:white;
  width: 30%;
}
.challenges-section > .primary > .challenges-section-nav  > .menu-button-wrapper > .menu-button{
width: calc(100% - 5vw);
} 
.challenges-section > .primary > .challenges-section-nav >.search-input-wrapper{
  width: 90%;
  background-color: var(--item-bg-color);
  border-radius: 1vw;  
  gap: 1vw;
  padding: 1.5vw ;
  justify-content: flex-start;
  align-items: center;
}
.challenges-section > .primary > .challenges-section-nav >.search-input-wrapper > .svgCont{
 width: 4.5vw;
 height: 4.5vw; 
}

.challenges-section > .primary > .challenges-section-nav >.search-input-wrapper > input{
 background-color: transparent;
 color: var(--paragraph-color-primary);
 border: none;
 outline: none;
 width: 88%;
 font-size: 4vw;
} 
.challenges-section > .primary > .challenges-section-nav >.search-input-wrapper > input::placeholder{
 color:  var(--paragraph-color-secondary);
}
.challenges-section > .primary > .challenges-section-nav > .create-challenge-button{
  text-decoration: none;
  font-size: 3.5vw;
  padding: 1vw 3vw;
  border-radius: 5vw;
  gap: 1vw;
  color: white;
}
.challenges-section > .primary > .challenges-section-nav > .create-challenge-button > .svgCont{
 width: 3.5vw  ;
 height: 3.5vw;
}
.challenges-section > .primary > .challenges-section-nav > .create-challenge-button  .fill {
}
.challenges-section > .primary > .challenges-section-nav >.active-filters-list{
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
  margin-top: 4vw;
}
.challenges-section > .primary > .challenges-section-nav >.active-filters-list > .filter{
 background-color: var(--item-bg-color);
 color: var(--paragraph-color-primary);
 border: none;
 border-radius: 4vw;
 padding: 1vw 2vw;
 font-size: 3.5vw;
 gap: 2vw;
 display: none;

}
.challenges-section > .primary > .challenges-section-nav >.active-filters-list > .filter.active{
display: flex;

}
.challenges-section > .primary > .challenges-section-nav >.active-filters-list > .filter > .close-icon{
  background-color: var(--header-bg-color);
  border-radius: 5vw;
 padding: 1vw;
}
.challenges-section > .primary > .challenges-section-nav >.active-filters-list > .filter > .close-icon > svg{
  width: 3vw;
  height: 3vw;
}
/* challenges cards wrapper */
.challenges-section > .primary >.challenge-cards-wrapper {
  width: 100%;
  height: 70%;
  /* overflow-y: scroll; */
  gap: 4vw;
  padding: 3vw 0;

}
.challenges-section > .secondary{
  display: none;
  max-width: 500px;
}

