.challenge-cards-wrapper{
  overflow-y: scroll;
  align-items: center;
  justify-content: top;
}
.challenge-cards-wrapper > .challenge-card{
    width: 90%;
    background-color: dimgray;
    padding: 3vw;
    border-radius: 3vw;
  
  }
  
  
  .challenge-cards-wrapper > .challenge-card> .title {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }
  .challenge-cards-wrapper > .challenge-card> .title  > .pin {
    width: 7vw;
    height: 7vw;
  
  }
  
  
  .challenge-cards-wrapper > .challenge-card> .title > .difficulty {
    font-weight: bold;
    font-size: xx-small;
    padding: 1vw 2vw;
    border-radius: 2vw;
  }
  .challenge-cards-wrapper > .challenge-card> .title > .difficulty.hard {
    background-color: red;
  }
  .challenge-cards-wrapper > .challenge-card> .title > .difficulty.medium {
    background-color: orange;
  
  }
  .challenge-cards-wrapper > .challenge-card> .title > .difficulty.easy {
    background-color: limegreen;
  
  }
  .challenge-cards-wrapper > .challenge-card> .title::before {
    content: attr(dataindex) ".";
  }
  .challenge-cards-wrapper > .challenge-card> .button-container {
    gap: 1vw;
    margin-top: 1vh;

  }
  .challenge-cards-wrapper > .challenge-card> .button-container > .tick {
    width: 9vw;
    height: 9vw;
  }
  
  .challenge-cards-wrapper > .challenge-card> .button-container > .cross {
    width: 8vw;
    height: 8vw;
  
  }