
.challenge-card{
    width: 90%;
    padding: 3vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    background-color: var(--challenge-card-bg-color);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    color: var(--paragraph-color-primary);
  position: relative;
  }

  .challenge-card > .header{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
  gap: 3vw;
  }
  .challenge-card > .header > .title {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    align-items: center;
    font-size: 5vw;
    width: 70%;
  }
  .challenge-card > .header > .tags-wrapper {
    width: 30%;
    padding: 1vw;
    gap: 3vw;
    background-color: inherit;
    border-radius: 5vw;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  }
  .challenge-card > .header  > .tags-wrapper  > .pin-icon {
    width: 5vw;
    height: 5vw;
    display: flex;
  }

  .challenge-card > .header > .tags-wrapper > .difficulty {
    font-weight: bold;
    font-size: 3vw;
  }
  /* main */
  .challenge-card > .main{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .challenge-card > .main > .task-divisitions-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2vw 0;
    gap: 1vw;
  }
  .challenge-card > .main > .task-divisitions-wrapper > .task-divisition{
   width: max-content;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3vw;
   font-size: 5vw;
  }
  .challenge-card > .main > .task-divisitions-wrapper > .task-divisition.done > .title{
    text-decoration:line-through;
    color: gray;
   }
  .challenge-card > .main > .task-divisitions-wrapper > .task-divisition > input{
  width: 4vw;
  }
  .challenge-card > .main > .task-divisitions-wrapper > .task-divisition > .value-percentage{
    color: gray;
  } 
  .challenge-card > .main > .task-divisitions-wrapper > .task-divisition.done > .value-percentage{
    color: var(--theme-secondary-default);
  } 
  .challenge-card > .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .challenge-card > .footer > .left > .details-toggle-button{
   display: flex;
   background-color: transparent;
   border: none;
   color: gray;
  }
  .challenge-card > .footer > .left > .details-toggle-button.active{
    color: var(--theme-secondary-default);
    } 
  .challenge-card > .footer > .left > .details-toggle-button > svg{
    width: 7vw;
    height: 7vw;
   }

   .challenge-card> .footer > .right {
    gap: 1vw;
    margin-top: 1vh;
  }
  .challenge-card> .footer > .right > button {
    background-color: transparent;
    border: none;    
   }
  .challenge-card> .footer > .right > .tick {
    width: 8vw;
    height: 8vw;
  }
  .challenge-card> .footer > .right > .cross {
    width: 7vw;
    height: 7vw;
  }
  /* 
  .challenge-card> .right-wrapper {
    position: absolute;
    right: 5px;
    padding: 1vw 4vw;
    gap: 3vw;
    background-color: inherit;
    border-radius: 5vw;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  }
  .challenge-card > .right-wrapper  > .pin-icon {
    width: 6vw;
    height: 6vw;
  }

  .challenge-card> .right-wrapper > .difficulty {
    font-weight: bold;
    font-size: 4vw;
  }
  
  .challenge-card> .title {
    margin-bottom: 3vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 5vw;
    width: 70%;
  }
  .challenge-card> .description {
    font-size: 4vw 
  }
  

  .challenge-card> .button-container {
    gap: 1vw;
    margin-top: 1vh;
  }
  .challenge-card> .button-container > button {
    background-color: transparent;
    border: none;    
   }
  .challenge-card> .button-container > .tick {
    width: 8vw;
    height: 8vw;
  }
  
  .challenge-card> .button-container > .cross {
    width: 7vw;
    height: 7vw;
  
  } */
