
.challenges-section-nav {
    width: calc(100% - 8vw);
    margin: 2vw 0;
    background-color: var(--container-bg-color);
    padding: 2vw 4vw ;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
   }
  
  
  .challenges-section-nav > a{
    text-decoration: none ;
  }
  .challenges-section-nav > a > .create-challenge-button {
    border-radius: 3vw;
    border: none;
    padding: 1.5vw 2vw;
    gap: 1vw;
    font-weight: bold;
    font-size: 3vw;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  
  }
  
  .challenges-section-nav .create-challenge-button .svgCont {
    width: 4vw;
    height: 4vw;
  }
    
  /* challenges search form */
  
  .challenges-section-nav > .challenges-search-form {
    gap: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5vw;
    width: 60%;
    height: 7vw;
    }
    .challenges-section-nav >    .challenges-search-form > input {
      width: 70%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 3.5vw;
      padding: 0 0 0 4vw;
      border-radius: 5vw 0 0 5vw; 
    }
 .challenges-section-nav >    .challenges-search-form > .button-container {
      width: 30%;
      height: 100%;
    }
  .challenges-section-nav >  .challenges-search-form > .button-container > .search-button {
      padding: 1vw 1.5vw;
      border: none;
      font-weight: bold;
      width: 50%;
      height: 100%;
      background-color: red;
      border-right: 2px solid orangered;
      background: linear-gradient(to right,red 70%, orangered);
    }
    
  .challenges-section-nav >  .challenges-search-form > .button-container > .filter-button {
      padding: 1vw 1.5vw;
      font-weight: bold;
      border-radius: 0 5vw 5vw 0;
      border: none;
      width: 50%;
      height: 100%;
    
    }
    
     
  .challenges-section-nav >  .challenges-search-form > .button-container button svg{
      width: 4vw;
      height: 4vw;
    }