/* active tasks section */

.challenges-section {
  margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 7vh);
  border-radius: 5vw;
  background-color: transparent;
  width: calc(100% - 6vw);
  padding: 0 3vw;
  align-items: center;
  justify-content: top;
  gap: 2vw;
}

.challenges-section > nav {
  width: calc(100% - 8vw);
  margin: 2vw 0;
  background-color: var(--container-bg-color);
  padding: 2vw 4vw ;
  border-radius: 3vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;
}
.challenges-section > nav > .total-challenges {
  font-weight: bold;
  font-size: 4vw;
    color: var(--paragraph-color-primary);
}
.challenges-section > nav > .search-form-wrapper {
 width: 60%;
 height: 5vh;
}
.challenges-section > .challenge-cards-wrapper {
  position: relative;
  width: 100%;
  height: 85%;
  gap: 4vw;
  padding: 3vw 0;
  border-radius: 3vw;
}

.challenges-section > .challenge-cards-wrapper > .challenge-card{
}

.challenges-section > .challenge-cards-wrapper > .challenge-card> .title {

}

.challenges-section > .challenge-cards-wrapper > .challenge-card> .title  > .pin {


}


.challenges-section > .challenge-cards-wrapper > .challenge-card> .title > .difficulty {

}


.challenges-section > .challenge-cards-wrapper > .challenge-card> .button-container {
}
.challenges-section > .challenge-cards-wrapper > .challenge-card> .button-container > .tick {

}

.challenges-section > .challenge-cards-wrapper > .challenge-card> .button-container > .cross {


}
.challenges-section  > a{
  text-decoration: none;
}
.challenges-section .create-challenge-button {
  margin-top: 2vh;
  border-radius: 2vw;
  border: none;
  padding: 1.5vw 2.5vw;
  font-weight: bold;
  gap: 1vw;
  font-size: 3vw;
  position: fixed;
  right: 3%;
  top: 30%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.challenges-section .create-challenge-button .svgCont {
  width: 4vw;
  height: 4vw;
}
