
.challenge-card{
    width: 90%;
    padding: 3vw;
    border-radius: 3vw;
    background-color: var(--challenge-card-bg-color);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    color: var(--paragraph-color-primary);

  }
  
  
  .challenge-card> .title {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 5vw
  }
  .challenge-card> .description {
    font-size: 4vw 
  }
  .challenge-card> .title  > .pin {
    width: 6vw;
    height: 6vw;
  
  }
  
  
  .challenge-card> .title > .difficulty {
    font-weight: bold;
    padding: 1vw 2vw;
    border-radius: 2vw;
    color: white;
    font-size: 2vw;
  }
  .challenge-card> .title > .difficulty.hard {
    background-color: red;
  }
  .challenge-card> .title > .difficulty.medium {
    background-color: orange;
  
  }
  .challenge-card> .title > .difficulty.easy {
    background-color: limegreen;
  
  }
  .challenge-card> .title::before {
    content: attr(dataindex) ".";
  }
  .challenge-card> .button-container {
    gap: 1vw;
    margin-top: 1vh;

  }
  .challenge-card> .button-container > .tick {
    width: 8vw;
    height: 8vw;
  }
  
  .challenge-card> .button-container > .cross {
    width: 7vw;
    height: 7vw;
  
  }