
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--body-bg-color);
    color: var(--paragraph-color-primary);
    max-width: 100vw;
    height: 100%;
    font-size: 16px;
  }
  
  button a {
    text-decoration: none;
    color: inherit;
  }

  .positive {
    background-color: var(--theme-secondary-default) ;
    background: var(--theme-secondary-gradient);
    color: white;
  }

  .button:active {
    filter:brightness(70%)
  }  
  .button:disabled{
    filter:brightness(50%)

  }
  .negitive {
    background-color: var(--theme-primary) !important;
    color: white;
  }
  .scroller {
    overflow: scroll !important;
    width: 100%;
  }
  a.button-type {
    text-decoration: none;
    color: inherit;
  }
  
  .btn {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
  
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  .btn:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .btn:active {
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  
  
  button {
    cursor: pointer;
  
  }
  
  button:disabled,.btn:disabled {
    background-color: gray !important;
  }
  .btn:not(.noEffect,.active):hover,.btn:not(.noEffect,.active):active {
    background-color: gray !important;
    background-image: none !important;
    color: white !important;
  
  }
  button.noEffect {
    border: none;
    background-color: transparent;
  
  }
  
  

  /* helper classes */
  .flex-cm {
    display: flex;
    flex-direction: column;
  
  }
  .flex-rw {
    display: flex;
    flex-direction: row;
  
  }
  .center {
    justify-content: center;
    align-items: center;
  }
  .flex-rw.top {
    align-items: top;
  }
  .flex-rw.bottom {
    align-items: flex-end;
  }
  .flex-rw.left {
    justify-content: left;
  }
  .flex-rw.right {
    justify-content: right;
  }
  
  .flex-cm.top {
    justify-content: top;
  }
  .flex-cm.bottom {
    justify-content: flex-end;
  }
  
  .flex-cm.left {
    align-items: left;
  }
  .flex-cm.right {
    align-items: right;
  }
  
  .snapParent-x {
    scroll-snap-type: x mandatory;
  }
  .snapParent-y {
    scroll-snap-type: y mandatory;
  }
  .snapChild {
    scroll-snap-align: center;
  
  }


  /* logo container */
  .logoCont,.logoCont > img {
    border-radius: 100%;
  }
  .imgCont > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .svgCont > svg {
    width: 100%;
    height: 100%;
  }

  /* more bar */
  .more {
    display: flex;
    flex-direction: column;
    width: 10vw;
    gap: 1.5vw;
    transition: .3s transform;
    cursor: pointer;
  }
  .more > .line {
    width: 100%;
    height: 1vw;
    background-color: var(--theme-secondary-default);
    background-image: var(--theme-secondary-gradient);
    content: " ";
  }
  .more.active {
    transform: rotate(90deg);
  }
  
   /* rounded progress bar */
   @keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] { 
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, var(--inner-color) 80%, transparent 0 99.9%, black 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
 
  /* switchs */
  .switch-small {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 15%;
  }
  
  .switch-small input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch-small .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch-small .slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 30%;
    left: 10%;
    bottom: 10%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch-small input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch-small input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch-small input:checked + .slider:before {
    -webkit-transform: translateX(164%);
    -ms-transform: translateX(164%);
    transform: translateX(164%);
  }
  
  .switch-small .slider.round {
    border-radius: 1rem;
  }
  
  .switch-small .slider.round:before {
    border-radius: 50%;
  }
  
  
  
  /* badge wrapper */
  .badge-wrapper .badge {
    background-color: red;
    color: white;
    border-radius: 100%;
    font-weight: 700;
    position: absolute;
    border: min(3px, 1vw) solid white;
    top: -10%;
    right: -10%;
  }
  /* chevron */  
  .chevron::after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.75em;
    height: 0.75em;
  }
  .chevron.theme::after {
    border-color: var(  --theme-secondary-default);
  
  }
  .chevron.right:after {
    left: 0;
    transform: rotate(45deg);
  }
  
  .chevron.bottom:after {
    top: 0;
    transform: rotate(135deg);
  }
  
  .chevron.left:after {
    left: 0.25em;
    transform: rotate(-135deg);
  }
  
  /* tooltip */
  
  .tooltip {
    position: relative;
   
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--bg-color);
    color: var(--color);
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-color) transparent;
  }
  
  .tooltip:is(:hover, :active) .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  