
.create-new-challenge-section {
  margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 10vh);

}

.create-new-challenge-section > form {
  width: 80%;
  height: 100vw;
  margin: 0 auto;
  padding: 2vw 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); 
  background-color: var(--container-bg-color-secondary);
}
.create-new-challenge-section > form > .step-indicator-wrapper {
  width: 90%;
  margin: 0 auto;
  font-size: 4vw;
  gap: 3vw;
  margin-bottom: 5vw;
}
.create-new-challenge-section > form > .step-indicator-wrapper > .step {
  width: 100%;
  height: 1vw;
  content: ' ';
  border-radius: 5vw;
  transition: background-color .5s;
}

.create-new-challenge-section > form > .step-indicator-wrapper > .step.current {
  background-color:var(--border-active-color) ;
}
.create-new-challenge-section > form > .step-indicator-wrapper > .step.previous {
  background-color:  rgb(255, 153, 0);
}

.create-new-challenge-section > form > .step-indicator-wrapper > .step.next {
  background-color: var(--border-color);
}

.create-new-challenge-section > form > .tabs-wrapper {
  overflow: hidden;
  position: relative;
  height: 75%;
  padding: 5vw 0;
}
.create-new-challenge-section > form > .tabs-wrapper > .tab {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 margin: 0 auto;
position: absolute;
transition: left .5s;
}


.create-new-challenge-section > form > .tabs-wrapper > .tab.current {
  left: 0;
}

.create-new-challenge-section > form > .tabs-wrapper > .tab.previous {
  left: -100%;
}  


.create-new-challenge-section > form > .tabs-wrapper > .tab.next {
  left: 100%;
}  

.create-new-challenge-section > form > .tabs-wrapper > .tab > .add-remove-button {
  width: 80%;
  background-color: transparent;
  border: none;
  color: var(--theme-secondary-default);
  font-size: 4vw;
  margin-top: 1vw;
  padding: 1vw ;
  border-radius: 3vw;
}

.create-new-challenge-section > form > .tabs-wrapper > .tab > .outlined-custom-field {
  width: 80%;
  --input-font-size: 5vw;
  --label-font-size: 3vw;
}

.create-new-challenge-section > form > .tabs-wrapper > .tab > .title-field {
margin-bottom: 4vw;
}
.create-new-challenge-section > form > .tabs-wrapper > .tab >  .difficulty-label{
  width: 80%;
  gap: 3vw;
  font-size: 5vw;
  justify-content: start;
  align-items: center;
  margin-top: 7vw;
}
.create-new-challenge-section > form > .tabs-wrapper > .tab >  .difficulty-label > .name{
 color: var(--paragraph-color-secondary);

}
.create-new-challenge-section > form > .tabs-wrapper > .tab >  .difficulty-label > .select{
 --bg-color:var(--container-bg-color);
}  
.create-new-challenge-section > form > .tabs-wrapper > .tab > .pinned-field {
  width: 80%;
  gap: 3vw;
  color: var(--paragraph-color-secondary);
  font-size: 5vw;
  justify-content: start;
  align-items: center;
  margin-top: 6vw;

}
.create-new-challenge-section > form > .tabs-wrapper > .tab > .pinned-field > .switch-wrapper{
width: 40%;
}

.create-new-challenge-section > form > .tabs-wrapper > .tab > .result{
  width: 80%;
  gap: 3vw;
}
.create-new-challenge-section > form > .tabs-wrapper > .tab > .result > .title{
 color: var(--paragraph-color-secondary);
 font-size: 4vw;
}
  .create-new-challenge-section > form > .button-wrapper {
  width: 90%;
  align-items: center;
  justify-content: end;
  margin: 0 auto;
  gap: 3vw;
}
.create-new-challenge-section > form > .button-wrapper > button{
 padding: 2vw 3.5vw;
 font-weight: bold;
 border-radius: 3vw;
 border: none;
 font-size: 4vw;
}