
.create-new-challenge-section {
  --margin-top: calc(var(--nav-height) + var(--nav-vertical-padding));
  width: 100vw;
  height: calc(100vh - var(--margin-top));
  max-height: 600px;
  margin-top: var(--margin-top);
}

.create-new-challenge-section > form {
  width: 80%;
  height: 60vh;
  max-width: 700px;
  max-height: 350px;
  min-height: 292px;
  padding: 10vw 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); 
  background-color: var(--container-bg-color-secondary);
  display: flex;
  flex-direction: column;
  border-radius: 3vw;
}
.create-new-challenge-section > form > .header{
  width: calc(100% - 4vw);
  background-color: var(--theme-secondary-default);
  color: white;
  text-align: center;
  padding: 2vw;
  margin: 5vw 0 10vw 0;
  font-size: 5vw;
}
.create-new-challenge-section > form > .step-indicator {
  width: 80%;
  margin: 0 auto;
  gap: 3vw;
}
.create-new-challenge-section > form > .step-indicator > .step {
  width: 100%;
  height: 1vw;
  content: ' ';
  border-radius: 5vw;
  background-color: var(--border-color);
  transition: background-color .5s;
}
.create-new-challenge-section > form > .step-indicator > .step.current {
 opacity: .5;
 background-color: var(--theme-secondary-default);

}

.create-new-challenge-section > form > .step-indicator > .step.completed {
  background-color: var(--theme-secondary-default);

}


.create-new-challenge-section > form >  .step-element {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 100%;
opacity: 0;
 transition: opacity .6s;
}
.create-new-challenge-section > form >  .step-element.active {
 opacity: 1;
}



.create-new-challenge-section > form >  .step-element > .add-remove-button {
  width: 80%;
  background-color: transparent;
  border: none;
  color: var(--theme-secondary-default);
  font-size: 4vw;
  margin-top: 1vw;
}

.create-new-challenge-section > form >  .step-element > .outlined-custom-field {
  width: 80%;
  --input-font-size: 5vw;
  --label-font-size: 4vw;  
}

.create-new-challenge-section > form >  .step-element > .outlined-custom-field > :is(input,textarea) {
  background-color: var(--container-bg-color-secondary);
}
.create-new-challenge-section > form >  .step-element > .outlined-custom-field > label {
 background-color: var(--container-bg-color-secondary);
}
.create-new-challenge-section > form >  .step-element > .title-field {
margin-bottom: 4vw;
}
.create-new-challenge-section > form >  .step-element >  .difficulty-label{
  width: 80%;
  gap: 3vw;
  font-size: 5vw;
  justify-content: start;
  align-items: center;
  margin-top: 7vw;
}
.create-new-challenge-section > form >  .step-element >  .difficulty-label > .name{
 color: var(--paragraph-color-secondary);

}
.create-new-challenge-section > form >  .step-element >  .difficulty-label > .select{
 --bg-color:var(--container-bg-color);
}  
.create-new-challenge-section > form >  .step-element > .pinned-field {
  width: 80%;
  gap: 3vw;
  color: var(--paragraph-color-secondary);
  font-size: 5vw;
  justify-content: start;
  align-items: center;
  margin-top: 6vw;

}
.create-new-challenge-section > form >  .step-element > .pinned-field > .switch-wrapper{
width: 40%;
}

.create-new-challenge-section > form >  .step-element > .result{
  width: 80%;
  gap: 3vw;
}
.create-new-challenge-section > form >  .step-element > .result > .title{
 color: var(--paragraph-color-secondary);
 font-size: 4vw;
}
  .create-new-challenge-section > form > .button-wrapper {
  width: 80% ;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
  margin-top: auto;
  align-self: center;
}
.create-new-challenge-section > form > .button-wrapper > button{
 padding: 2vw 7vw;
 font-weight: bold;
 border-radius: 1vw;
 border: none;
 font-size: 4vw;
}
.create-new-challenge-section > form > .button-wrapper > button.positive{
  margin-left: auto;

}

@media screen and (min-width: 550px) {
  .create-new-challenge-section > form > .button-wrapper {
  justify-content: flex-end;
  }  
  .create-new-challenge-section > form > .button-wrapper > button.positive{
    margin-left: 0;
  
  }
}