.home{
 width: 100%;
 height: 100%;
 background-image:  url("../assets/img/home-bg-image.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
.home > .bg-image-wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 0.5;
  display: none;  
}
.home > .bg-image-wrapper > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home > .intro-wrapper{
  --padding-top:calc(var(--nav-height) + var(--nav-vertical-padding) + 10vw) ;
  width: 100vw;
  height:calc(100vh - var(--padding-top));
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: var(--padding-top);
}
.home > .intro-wrapper > .intro{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 5vw;
}
.home > .intro-wrapper > .intro > .title{
  font-size: 12vw;
  font-weight: 600;
  text-align: center;
  color: white;
}
.home > .intro-wrapper > .intro > .description{
  color: lightgray;
  font-size: 6vw;
  text-align: center;
  line-height: 1.3;
  height: 40vw;
}
.home > .intro-wrapper > .intro > .signup-button{
  border-radius: 5vw;
  font-size: 4vw;
  padding: 2vw 4vw;
  border: none;
 font-weight: bold;
 
}

.home > .intro-wrapper > .intro > .signup-button > .chevron::after{
 width: 1.5vw;
 height: 1.5vw;
 border-width: .7vw .7vw 0 0;
 top: 1.9vw;
 margin-left: 1.5vw;
}

