
.menu-button-wrapper{
  position: relative;
  --button-bg-color:white;
  --options-wrapper-bg-color:white;
 }
 .menu-button-wrapper > .menu-button{
   width: max-content;
   background-color: var(--button-bg-color);
   color: var(--color);
   padding: 1vw 2.5vw ;
   border-radius: 1vw;
   font-size: 4vw;
   justify-content: space-between;
   align-items: center;
 }
 .menu-button-wrapper > .menu-button > .svgCont{
   width: 4vw;
   height: 4vw;
   transition: transform 0.3s;  
 } 
 .menu-button-wrapper.open > .menu-button > .svgCont{
   transform: rotate(180deg);
 } 

 .menu-button-wrapper > .menu-options-wrapper{
  min-width: 100%;
   width: max-content ;
   position: absolute;
   background-color: var(--options-wrapper-bg-color);
   color: var(--color);
   z-index: 1;
   margin-top: 1vw;
   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
   display: none;
   outline: none;
   border-radius: 1vw;
   overflow: hidden;
 }
 .menu-button-wrapper.open > .menu-options-wrapper{
 display: flex; 
 } 
 .menu-button-wrapper.open > .menu-options-wrapper.button-type{
  flex-direction: column;
}
.menu-button-wrapper.open > .menu-options-wrapper.checkbox-type{
  flex-direction: row;
}
 .menu-button-wrapper > .menu-options-wrapper.button-type > .option{
  padding: 1vw 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 4vw;
  gap: 2vw;
  background-color: inherit;
 }
 .menu-button-wrapper > .menu-options-wrapper.button-type > .option:active{
  filter: brightness(50%);  
 }
 .menu-button-wrapper > .menu-options-wrapper.button-type > .option > svg{
  visibility: hidden;
  width: 4vw; 
   height: 4vw;
 }

 .menu-button-wrapper > .menu-options-wrapper.button-type > .option.selected > svg{
  visibility: visible;  
 }
 /* checkbox */
 .menu-button-wrapper > .menu-options-wrapper.checkbox-type{
  gap: 2vw;
  left: -5vw;
  flex-wrap: wrap;
  padding: 1vw 2.5vw;

}
 .menu-button-wrapper > .menu-options-wrapper.checkbox-type > .option{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .menu-button-wrapper > .menu-options-wrapper.checkbox-type > .option > span{
  padding: 1vw 2.5vw;
  font-size: 3vw;
  border-radius: 5vw; 
  background-color: var(--checkbox-bg-color);
 }

 .menu-button-wrapper > .menu-options-wrapper.checkbox-type > .option > input:checked + span{
   background-color: var(--checkbox-checked-bg-color);
   background: var(--checkbox-checked-bg);
  color: var(--checkbox-checked-color);
 } 