.name-and-contact-info{
    width: 100%;
    margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 5vh);
}

.name-and-contact-info>.info-wrapper{
    width: 85%;
    margin: 0 auto;
    justify-content: start;
    align-items: center;
    background-color: var(--container-bg-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3vw;
    overflow: hidden;
}

.name-and-contact-info>.info-wrapper>.info{
    width: calc(100% - 8vw);
    font-size: 5vw;
    padding: 2vw 4vw;
    font-weight: 700;
    background-color: inherit;
    gap: 1vw;
}

.name-and-contact-info>.info-wrapper>.info:not(:last-child){
    border-bottom: 1px solid var(--border-color);

}

.name-and-contact-info>.info-wrapper>.info > .value-wrapper{
  align-items: center;
  justify-content: space-between ;
  gap: 2vw;
}

.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .value-input{
    color: var(--paragraph-color-primary);
    background-color: var(--info-bg-color);
    padding: 1vw;
    outline: none;
    border: none;
    font-size: inherit;
}

.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .value-input:disabled{
 background-color: transparent;
 color: var(--paragraph-color-secondary);

}  
.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .value-input:disabled + .value-edit-button{
display: inline;
}  
.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .value-input:disabled + .value-edit-button + .button-wrapper{
  display: none;
}


.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .value-edit-button{
width: 7vw;
height: 7vw;
background-color: transparent;
border: none;
display: none;
}  
.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .value-edit-button .fill{
  fill: var(--paragraph-color-primary);
  fill: var(--theme-secondary-default);
}

.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .button-wrapper{
 gap: 2vw;
}
.name-and-contact-info>.info-wrapper>.info > .value-wrapper > .button-wrapper > button{
background-color: transparent;
border: none;
}  

