.notifications-section{
  width: 100%;
  align-items: center;   
  background-color: var(--layout-bg-color);
}
.notifications-section.short-view {
  width: 90vw;
  height: 0;
  max-width: 350px;
  max-height: 400px;
  position: absolute;
  display: flex;
  right:-10vw;
  box-shadow: 0 0 2px 1px  rgba(0, 0, 0, 0.5);
  border-radius: 1vw;
  overflow: hidden;
   opacity: 0;
  transition: opacity .4s;
  top: calc(var(--nav-height) + var(--nav-vertical-padding));

}
.notifications-section.short-view.active{
  opacity: 1;
  height: 60vh;

 }
.notifications-section > nav {
  width:calc(100% - 6vw) ;
  padding: 2vw 3vw;
  max-width: 676px;
  background-color: var(--layout-bg-color);
}
.notifications-section:not(.short-view) > nav{
  margin-top:  calc(var(--nav-vertical-padding) + var(--nav-height));
  justify-content: center;
  margin-bottom: 5vw;
 
}



.notifications-section > nav {
 gap: 3vw;
 align-items: center;
 padding: 3vw ;
 width:calc(100% - 6vw) ;
}

.notifications-section > nav >  .heading{
  font-size: 6vw;
  margin-right: auto;
}
.notifications-section > nav > .right{
  width: 60%;
  max-width: 300px;
  justify-content: right;
  align-items: center;
  position: relative;
  gap: 4vw;
}
.notifications-section > nav > .right > .filter-buttons-wrapper{
  justify-content: start; 
  gap: 0vw;
}

.notifications-section > nav > .right > .filter-buttons-wrapper > .button{
  font-size: 4vw;
  padding: 1.5vw 3vw;
  border-radius: 5vw;
  border: none;
  background-color: transparent;
  color: var(--paragraph-color-primary);
}

.notifications-section > nav > .right > .filter-buttons-wrapper > .button.active{
  background-color: var(--theme-secondary-default);
  color: white;
}

.notifications-section > nav > .right > .more-button{
  width: 7vw;
  height: 7vw;
  background-color: transparent;
  border: none;  
} 
.notifications-section > nav > .right > .more-button > svg{
 transform: rotate(90deg);
}
.notifications-section > nav > .right > .more-button > .fill{
  fill: var(--icon-color)
}

.notifications-section > nav > .right > .more-button.active > .fill{
  fill: var(--theme-secondary-default)
}
.notifications-section > nav > .right > .more-button.active + .more-options-wrapper{
  display: flex;
}

.notifications-section > nav > .right > .more-options-wrapper{
  position: absolute;
  display:none;
  flex-direction: column;
  background-color: inherit;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  top: 0;
  right: 20%;
  border-radius: 3vw;
  z-index: 1;
  overflow: hidden;
  width: max-content;
  background-color: var(--layout-bg-color);
}

.notifications-section > nav > .right > .more-options-wrapper > .option{
  display: flex;
  align-items: center;
  gap: 1.5vw;
  color: var(--paragraph-color-primary);
  font-size: 4vw;
  background-color: inherit;
  border: none;
  padding: 2vw 4vw;
}
.notifications-section > nav > .right > .more-options-wrapper > .option > .svgCont{
  width: 5vw;
  height: 5vw;
}
.notifications-section > nav > .right > .more-options-wrapper > .option > .svgCont .fill{
  fill: var(--icon-color);
}

.notifications-section .notifications-wrapper{
  width: 100%;
  max-width: 700px;
  justify-content: flex-start;
  align-self: center;
}
.notifications-section.short-view  > .notifications-wrapper{
  overflow-y: scroll;
  scrollbar-width: thin;
}


.notifications-section > .notifications-wrapper > .notification{
  width: calc(100% - 2vw);
  background-color: var(--container-bg-color);
  padding: 3vw 1vw;
  gap: 1vw;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.notifications-section > .notifications-wrapper > .notification.active{
 filter: contrast(.5);
}  

.notifications-section > .notifications-wrapper > .notification.unread{
  background-color: var(--notification-unread-bg-color);
}

.notifications-section > .notifications-wrapper > .notification > .icon-wrapper{
  width: 15%;
  justify-content: center;
  align-items: top;
  display: flex;
  padding: 1vw;
}
.notifications-section > .notifications-wrapper > .notification > .icon-wrapper > .svgCont{
  width:9vw;
  height:9vw;
}

.notifications-section > .notifications-wrapper > .notification > .icon-wrapper > .svgCont .fill{
  fill: var(--icon-color);
}

.notifications-section > .notifications-wrapper > .notification > .message-wrapper{
width: 75%;
gap: 1vw;
}

.notifications-section > .notifications-wrapper > .notification > .message-wrapper > .type{
  font-size: 5vw;
  font-weight: 500;
 color: var(--paragraph-color-secondary);

}

.notifications-section > .notifications-wrapper > .notification > .message-wrapper > .message{
  font-size: 4vw;
  color: var(--paragraph-color-primary);
}
.notifications-section > .notifications-wrapper > .notification > .message-wrapper > .date{
 font-size: 3.5vw;
 color: var(--paragraph-color-primary);
margin-top: 1vw;
}


.notifications-section > .notifications-wrapper > .notification > .more-button{
  width: 10vw;
  height: 10vw;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
}


.notifications-section > .notifications-wrapper > .notification > .more-button > svg{
 transform: scale(.5);
}

.notifications-section > .notifications-wrapper > .notification > .more-button > .fill{
 fill: var(--icon-color)
}
.notifications-section > .notifications-wrapper > .notification > .more-button.active > .fill{
  fill: var(--theme-secondary-default)
}
.notifications-section > .bottom-buttons-container {
  width: calc(100% - 6vw);
  background-color: var(--container-bg-color-secondary);
  padding: 3vw;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.notifications-section > .bottom-buttons-container .settings-button{
  width: 7vw;
  height: 7vw;
  color: var(--paragraph-color-primary);  
}

.notifications-section > .bottom-buttons-container > .see-all-button{
  color: var(--theme-secondary-default); 
  font-size: 4vw;
 }
 

 .notification-more-options-wrapper{
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: var(--layout-bg-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3vw;
  z-index: 1000;
  overflow: hidden;
  width: max-content;
}
.notification-more-options-wrapper.active{
  display: flex;
}

 .notification-more-options-wrapper > .option{
  display: flex;
  align-items: center;
  gap: 1.5vw;
  color: var(--paragraph-color-primary);
  font-size: 4vw;
  background-color: inherit;
  border: none;
  padding: 2vw 4vw;
  width: 100%;
  
}
 .notification-more-options-wrapper:not(.unread) > .option.mark-as-read-button{
 display: none;
}
 .notification-more-options-wrapper > .option > .svgCont{
  width: 5vw;
  height: 5vw;
}
 .notification-more-options-wrapper > .option > .svgCont .fill{
  fill: var(--icon-color);
}


@media screen and (min-width: 700px) {
 .notifications-section > .notifications-wrapper > .notification:hover{
    background-color: var(--container-bg-color-secondary);
   }  
   .notifications-section > .notifications-wrapper > .notification:not(:hover) > .more-button:not(.active){
    display: none;
   }
   .notifications-section > .notifications-wrapper > .notification > .more-button{
    background-color: white;
    top: 29px;
    right: 10px;
    border-radius: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   transform: rotate(90deg);
  }

}