.password-and-security {
  width: 100%;
margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 5vw);
}

.password-and-security > .group {
  width: 85%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--container-bg-color);
  border-radius: 3vw;
}

.password-and-security > .group > .title {
  font-size: 4vw;
  font-weight: 500;
  width: calc(100% - 4vw);
  padding: 2vw 2vw;
  color: var(--paragraph-color-secondary);
}

.password-and-security > .group > .security-buttons-wrapper {
  width: 100%;
  gap: 2vw;
  border-top: 1px solid var(--border-color);

}

.password-and-security > .group > .security-buttons-wrapper > .security-button {
  width: 100%;
  justify-content: space-between;
  padding: 2vw 1vw;
   background-color: inherit;
  border: none;
}

.password-and-security > .group > .security-buttons-wrapper > .security-button > .icon-side {
  justify-content: center;
  align-items: top;
  padding: 1vw 2vw;
}

.password-and-security > .group > .security-buttons-wrapper > .security-button > .icon-side > .svgCont {
  width: 5vw;
  height: 5vw;
}
.password-and-security > .group > .security-buttons-wrapper > .security-button > .icon-side > .svgCont .fill{
 fill: var(--paragraph-color-primary);
}
.password-and-security > .group > .security-buttons-wrapper > .security-button > .text-side  {
width: 80%;
justify-content: center;
align-items: start;
}

.password-and-security > .group > .security-buttons-wrapper > .security-button > .text-side > b {
  font-size: 4vw;
  color: var(--paragraph-color-primary);
}

.password-and-security > .group > .security-buttons-wrapper > .security-button > .text-side > small {
  font-size: 3.5vw;
  color: var(--paragraph-color-secondary);
  text-align: start;
}

.password-and-security > .group > .security-buttons-wrapper > .security-button > .chevron-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-and-security > .group > .security-buttons-wrapper > .security-button > .chevron-wrapper > .chevron::after {
 border-color: var(--paragraph-color-primary);
 width: 2.5vw;
 height: 2.5vw;
}

