.peoples-section{
  margin: 0 auto;
  margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 10vw);
    width: 100%;
    max-width: 850px;
}

.peoples-section > .search-bar-wrapper {
    width: 80%;
    margin: 7vw auto;
    background-color: var(--item-bg-color);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5vw;
    justify-content: start;
    align-items: center;
    padding:0 3vw;

  }
  .peoples-section > .search-bar-wrapper > .search-bar {
    width: 90%;
    height: 8vw;
    font-size: 4vw;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--paragraph-color-primary);
  }
  .peoples-section > .search-bar-wrapper > .close-button {
     width:4vw;
     height:4vw;
     background-color: transparent;
     border: none;
     display: none;
     color: var(--paragraph-color-primary);
     margin-left: auto;
    }
    .peoples-section > .search-bar-wrapper > .search-bar:not(:placeholder-shown) + .close-button {
        display: flex;
    } 

.peoples-section > .search-results{
    width: 90%;
    margin: 0 auto;
    gap: 4vw;
    margin-bottom: 8vw;

}
.peoples-section > .search-results > .users-short-info-wrapper{
    width: 90%;
    margin: 0 auto

}
.peoples-section > .recent-searches{
    width: 90%;
    margin: 0 auto;  
}

.peoples-section > .recent-searches > .title{
    font-size: 5vw;
    font-weight: 600;
    color: var(--paragraph-color-secondary);
    width: 90%;
    margin: 0   auto 4vw auto;

}

.peoples-section > .recent-searches > .users-short-info-wrapper{
    width: 90%;
    margin: 0 auto
  }
