.peoples-section{
    margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 2vh);
    width: 100%;
}

.peoples-section > .recent-searches{
    width: calc(90% - 4vw);
    margin: 0 auto;  
}

.peoples-section > .recent-searches > .title{
    font-size: 5vw;
    font-weight: 600;
    color: var(--paragraph-color-secondary);
    margin-bottom: 4vw;
}
.peoples-section > .search-bar-wrapper {
  width: 90%;
  margin: 0 auto;
}
.peoples-section > .recent-searches > .users-short-info-wrapper{
    width: 90%;
   margin: 0 auto
}
