/* info sections */
.info-section {
  margin-top: calc(var(--nav-vertical-padding) + var(--nav-height) + 5vh);
  margin-bottom: 20vw;
  gap: 3vw;
  background-color: var(--container-bg-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5vw;
  width: 85%;
  margin-left: 3.5vw;
  padding: 4vw;
}


.info-section>hr {
  width: 100%
}
.info-section>.primary {
  margin: 2vw 5vw;
  width: 100%;
  gap: 2vw;
}

.info-section>.primary>.logoCont {
  width: 20vw;
  height: 20vw;
  border-width: .5vw;
}

.info-section>.primary .username{
  font-size: 5vw;
  background-color: var(--info-bg-color);
  padding: 1vw 4vw ;
  border-radius: 3vw
}
.info-section > .xp-items-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.info-section > .xp-items-wrapper > .progress-bar {
  width: 45vw;
  height: 40vw;
  background-color: white;
  border-radius: 100%;
  color: black;
  position: relative;
  overflow: hidden;
  transition: box-shadow 1s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.info-section > .xp-items-wrapper > .progress-bar.increasing {
  box-shadow: 0 0 30px 0 rgba(0, 255, 34, 0.397);
}
.info-section > .xp-items-wrapper > .progress-bar.decreasing {
  box-shadow: 0 0 30px 0 rgba(255, 0, 0, 0.856);
}



.info-section > .xp-items-wrapper > .progress-bar>.inner {
  background-color: var(--theme-secondery-default);
  background: linear-gradient(to right,red,darkorange);
  width: 120%;
  height: var(--value);
  position: absolute;
  left: -10%;
  bottom: 0;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fill 3s, wave 2s infinite;
}

.info-section > .xp-items-wrapper > .progress-bar.active>.inner {
  border-top: .5vw solid orange;
  animation: up-down 1s infinite, fill 3s, wave 2s infinite;
  transition: height .5s;

}
@keyframes up-down {
  0% {
    border-width: .5vw;
  }
  25% {
    border-width: 1vw;
  }
  50% {
    border-width: 1.5vw;
  }
  75% {
    border-width: 1vw;
  }
  100% {
    border-width: .5vw;
  }
}
.info-section > .xp-items-wrapper > .progress-bar>.inner>.progress {
  font-weight: bolder;
  font-size: 7vw;
  color: black;
}
.info-section > .xp-items-wrapper > .progress-bar[data-less="true"]>.inner>.progress {
  position: absolute;
  bottom: 10%;
}
@keyframes fill {
  0% {
    height: 0%;
    border-top: 1vw solid orange;
  }
  80% {
    border-top: 4vw solid orange;
  }
  100% {
    border-top: 0vw solid orange;
    height: var(--value);
  }

}

@keyframes wave {
  0% {
    transform: rotate(2deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

.info-section > .info {
  width: 95%;
  justify-content: space-between;
  border-radius: 3vw;
  overflow: hidden;
 font-size: small;
 background-color: var(--info-bg-color);
}
.info-section > .info > .name {
  padding: 2vw 4vw;
  width: 44%
}
.info-section > .info > .value {
  padding: 2vw 4vw;
  width: 56%

}

/*recent challenges*/
.recent-challenges { 
  margin-bottom: 3vw;
  gap: 1vw;
  background-color: var(--container-bg-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5vw;
  width: 85%;
  margin-left: 3.5vw;
  padding: 4vw;
}

.recent-challenges > .challenge-cards-wrapper {
  width: 100%;
  height: 90%;
  gap: 4vw;
  align-items: center;
  justify-content: top;
  padding: 1vw 0;
  border-radius: 3vw;
  margin-top: 2vw;

}

.recent-challenges > .see-all-button {
  border: none;
  font-weight: bold;
  font-size: normal;
  padding: 1.5vw 3vw;
  align-self: center;
  border-radius: 4vw;
  margin-top: 2vw;
  width: 40%;
}