.profile-edit-form-wrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;

}
.profile-edit-form{
  width:calc(90% - 8vw) ;
  height: calc(90% - 10vw);
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
  background-color: var(--container-bg-color);
  padding: 5vw 4vw;
  border-radius: 3vw;
  overflow-y: scroll;
}
.profile-edit-form > .top-nav{
  width: 100%;
  align-items: center;
  padding-bottom: 2vw;
}

.profile-edit-form > .top-nav > .back-button::after{
  border-width: 1vw 1vw 0 0;
  color: var(--theme-secondary-default);
  font-size: 3vw;
} 


.profile-edit-form > .top-nav > .close-button{
  background-color: transparent;
  border: none;      
  margin-left: auto;
  width: 6vw;
  height: 6vw;
}

.profile-edit-form > .top-nav > .close-button > svg{
  width: 100%;
  height: 100%;
}


/* primary */
.profile-edit-form > .primary{
  gap: 5vw;
  justify-content: top;
  align-items: center;
} 

.profile-edit-form > .primary > .profile-view{
  width: 100%;
  margin: 10% 0 5% 0;
  gap: 2vw;
}
.profile-edit-form > .primary > .profile-view > .user-avatar-label > .user-avatar{
  width: 17vw;
  height: 17vw;
  --level-badge-font-size: 2.5vw;
}

.profile-edit-form > .primary > .profile-view > .name{
  font-size: 6vw;
}
.profile-edit-form > .primary > .edit-buttons-wrapper{
  width: 100%;
  border-radius: 3vw;
  overflow: hidden;
  gap: .5vw;
}
.profile-edit-form > .primary > .edit-buttons-wrapper > .button{
  width: 100%;
  padding:4vw;
  background-color: inherit;
  color: var(--paragraph-color-primary);
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: var(--info-bg-color);
 font-size: 4vw;
}
/* name form */
.profile-edit-form > .form{
  width: 100%;
  height: 94%;
  /* gap: 5vw; */
  justify-content: top;
  align-items: center;
}
.profile-edit-form > .form > .title{
  font-size: 6vw;
  width: 100%;
  margin-bottom: 5vw;
}
.profile-edit-form > .form > .outlined-custom-field{
  width: 100%;
  --input-font-size: 5vw;
  --label-font-size: 5vw;
}

.profile-edit-form > .form > .message{
  width: 100%;
  margin-top: 2vw;
  color: red;
  font-size: 4vw;
}
.profile-edit-form > .form > .submit-button{
  width: 100%;
  padding: 3vw;
  align-self: flex-end;
  margin-top: auto;
  font-weight: bold;
  font-size: 5vw;
  border-radius: 3vw;
  border: none;
}