
.select {
    position: relative;
  }
  
  .select > .selected-option {
    width: max-content;
    padding: .5vw 2vw;
    border: 0.1vw solid var(--border-color);
    gap: 2vw;
  }
  .select > .selected-option > .svgCont{
  width: 5vw;
  height: 5vw;
  }

  .select > .options-wrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--bg-color);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
    top: 8vw;
    left: 0;
    outline: none;
    z-index: 100;
    width: max-content;
  }
  .select > .options-wrapper > .option {
    padding: 2vw 3vw;
    background-color: var(--bg-color);
    color: var(--color);
    text-align: center;    
    min-width: max-content;
    width: calc(100% - 6vw);
  }
  
  .select > .options-wrapper > .option.selected {
   display: none;
  }
  .select > .options-wrapper > .option:active {
    /* background-color: var(--active-bg-color);
    color: var(--active-color);
    */
    filter: brightness(60%);
  }
  .select.active > .options-wrapper {
    display: flex;
  }
