.settings-section{
  --margin-top:calc(var(--nav-vertical-padding) + var(--nav-height) );
    width: 100%;
    min-height: calc(100vh - var(--margin-top) );
    height: max-content;
    margin-top: var(--margin-top);
  overflow-x: hidden;  
  background-color: var(--container-bg-color);
}
/* header */
.settings-section > .header{
  width: 100%; 
  position: relative;  
  padding: 10vw 0 20vw 0;
  background-color: white;
  z-index: 0;
}
.settings-section > .header > .background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-150deg, rgba(255, 0, 0, 0.534) 15%, rgba(255, 68, 0, 0.548) 70%, rgba(255, 166, 0, 0.534) 94%);
 z-index: -1;
}

.settings-section > .header > .user-primary-info-wrapper{
  width: 100%;
  height: 100%;
  gap: 2vw;
  display: flex;
  flex-direction: column;
}
.settings-section > .header > .user-primary-info-wrapper > .user-avatar-label{
  position: relative;
 cursor: pointer;
} 

.settings-section > .header > .user-primary-info-wrapper > .user-avatar-label >  .user-avatar{
  width: 30vw;
  height: 30vw;  
  --badge-border-color: rgb(255, 139, 139);
  --level-badge-font-size: 5vw;
  transition: filter .2s;
}
.settings-section > .header > .user-primary-info-wrapper > .user-avatar-label > svg {
  width: 20vw;
  height: 20vw;
  display: none;
  position: absolute;
  top: 17%;
  left: 20%;
} 
.settings-section > .header > .user-primary-info-wrapper > .user-avatar-label:active >  .user-avatar{
   filter: brightness(50%);
}
.settings-section > .header > .user-primary-info-wrapper > .user-avatar-label:active >  svg{
 display: block;
}

.settings-section > .header > .user-primary-info-wrapper > .text-wrapper{
  justify-content: center;
  align-items: center;
}
.settings-section > .header > .user-primary-info-wrapper > .text-wrapper> .name{
  color: white;
  font-size: 7vw;
}
.settings-section > .header > .user-primary-info-wrapper > .text-wrapper> .username{
  color: gray;
  font-size: 4vw;
  
}

.settings-section > .main-content {
  position: relative;
  justify-content: center;
  align-items: flex-start;
}
/* navigation buttons wrapper */
.settings-section > .main-content > .navigation-buttons-wrapper{
  width: 100%;
  gap: 2vw;
  padding-top: 5vw;
  justify-content: flex-start;
  align-items: center;
}
.settings-section > .main-content > .navigation-buttons-wrapper > a{
  width: calc(85% - 10vw);
 color: var(--paragraph-color-primary);
 display: flex;
 align-items: center;
 justify-content: start;
 gap: 2vw;
 text-decoration: none;
 padding: 3vw 5vw;
 background-color: inherit;
 border-radius: 2vw;
}
.settings-section > .main-content > .navigation-buttons-wrapper > a.active{
 background-color:  rgba(255, 68, 0, 0.548);
 background: linear-gradient(-150deg, rgba(255, 0, 0, 0.534) 15%, rgba(255, 68, 0, 0.548) 70%, rgba(255, 166, 0, 0.534) 94%);
 color: white;
}

.settings-section > .main-content > .navigation-buttons-wrapper > a > svg{
  width: 5vw;
  height: 5vw;
}
.settings-section > .main-content > .navigation-buttons-wrapper > a[datalarge="true"] > svg{
scale: 1.4;
}

/* outlet wrapper */
.settings-section > .main-content > .content{
  width: 100%;
  position: absolute;
  top: -12vw;
  left:95%;
  transition: left 0.2s ;
 box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
.settings-section > .main-content > .content.active{
  box-shadow:none;
  left: 0;

} 

.settings-section > .main-content > .content > .content-show-button{
 padding: 2vw 4vw ;
  position: absolute;
  top: 5vw;
  left: -10vw;
  transform: rotate(90deg);
  background-color: var(--container-bg-color);
  color: var(--paragraph-color-primary);
  border-radius: 0 0 2vw  2vw;
  border: none;
}
.settings-section > .main-content > .content > .content-show-button > svg{
  width: 4vw;
  height: 4vw;
}

.settings-section > .main-content > .content > .header {
width:calc(100% - 6vw);
justify-content: start;
align-items: center;
padding: 3vw;
 background-color:var(--header-bg-color);
 gap: 1vw;
}
.settings-section > .main-content > .content > .header .heading{
font-size: 7vw;
margin-left: 2vw;
}
.settings-section > .main-content > .content > .header > .hamburger{
 width: 9vw;
 height: 9vw;
 background-color: inherit;
 border: .5px solid var(--border-color);
 border-radius: 1vw;
}
.settings-section > .main-content > .content > .header > .drop-down-icon{
  width: 5vw;
  height: 5vw;
  transform: rotate(270deg);
}
.settings-section > .main-content > .content >  .outlet-wrapper{
  background-color: var(--layout-bg-color);
  width: 100%;
   padding: 5vw 0;
   min-height: 50vh;
   height: 50vh;
   overflow: hidden;
}

.settings-section > .main-content > .content.active >  .outlet-wrapper{
  height:max-content;
}


.settings-section > .main-content > .content >  .outlet-wrapper > .outlet{
  width:var(100% - 12vw);
  gap: 7vw;
 display: flex;
 flex-direction: column;
 padding: 0 6vw;
 }

 .settings-section > .main-content > .content >  .outlet-wrapper > .account > .delete-account-button{
   width: max-content;
   padding: 2vw 4vw;
   background-color: transparent;
   border: 1px solid red;
   color: red;
   border-radius: 2vw;
   font-size: 4.5vw;
 }
 /* sections  */
.settings-section > .main-content > .content >  .outlet-wrapper section{
  width: 100%;
}
.settings-section > .main-content > .content >  .outlet-wrapper section > .section-name{
  font-size: 6vw;
  font-weight: 500;
}

.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper{
 width: 100%;
 gap: 3vw;
 margin-top : 2vw;
}
/* content */
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content{
width: 100%;
gap: 4vw;
border-bottom: 1px solid lightgray;
padding: 2vw 0;
justify-content: flex-start;
}  
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content  > .title{
  font-size: 5vw;
  color: var(--paragraph-color-secondary);
 max-width: 70%;
} 

.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value{
  width: 100%;
  color: var(--paragraph-color-secondary);
  font-size: 5vw;
  }
  .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper.editable > .value{
    display: none;
   
     }
   
  
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field{
  display: none; 
  width: 70%;
 font-size: 4vw;
 align-self: flex-start;
}
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .value-field:not(.select){
  border: 1px solid var(--border-color);
  border-radius: 1vw;
  outline: none;
  padding: 2vw ;

}
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper.editable > .value-field{
  display: block;
 }

 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .buttons-wrapper{
  display: none; 
  align-self: flex-start;
  gap: 3vw;
 }
 
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper.editable > .buttons-wrapper{
   display: flex;
 }
 
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper > .buttons-wrapper > button{
  padding:  2vw;
  border-radius: 2vw;
  font-size: 4vw;
  font-weight: bold;
  border: none;
 }
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > :is(.edit-button,.connect-disconnect-button){
  background-color: transparent;
  color: royalblue;
  border: none;
  font-size: 4.5vw;
}
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .value-wrapper.editable + .edit-button{
  display: none;
 }
 
 

.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content > .link-button{
  text-decoration: none;
  width: max-content;
  align-self: flex-start;
  color: royalblue;
}
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.privacy-type > .value{
  color: var(--paragraph-color-primary);
   font-weight: 600;
  }
  
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.privacy-type > .value-field{
 width: 30%;
}
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.privacy-type > .description{
  font-size: 4.5vw;
  color: var(--paragraph-color-secondary);
}

.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.connect-type > .content-header > .platform{
 gap: 3vw;
}
.settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.connect-type > .content-header > .platform > .logo{
 width: 7vw;
 height: 7vw;
}


/* notifications settings */
.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings{
  gap: 0;
 padding: 0;
}


.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .header{
padding: 3vw 9vw;
justify-content: space-between;
align-items: center;

}
.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .header .name{
 font-size: 6vw;
} 
.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .header .right{
 justify-content: space-between;
 align-items: center;
 width: 40%;
 font-size: 5vw;
}  

.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-category{
  background-color: var(--container-bg-color-secondary);
  color: var(--paragraph-color-secondary);
  padding: 3vw 9vw;
  font-size: 5vw;
}

.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type{
  padding: 3vw 6vw;
  justify-content: space-between;
  align-items: center;
  width: calc(95% - 12vw);  
}
.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type:not(:last-child){
  border-bottom: .5px solid lightgray;
}

.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .name{
  font-size: 5vw;
  width: 50%;
}
.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .right {
  justify-content: space-between;
  align-items: center;
  width: 40%;
} 

.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .right > .checkbox-wrapper{
  width: 40%; 
}
.settings-section > .main-content > .content >  .outlet-wrapper >  .notification-settings > .notification-type-container > .notification-type > .right > .checkbox-wrapper > input{
width: 5vw;
height: 5vw;
} 
