.side-navigation-bar {
    width: 55vw;
    height: 100vh;
    position: fixed;
    z-index: 1001;
    justify-content: start;
    align-items: center;
    transition: right .4s;
    right: -55vw;
    box-shadow: none;
    top: 0;
    background-color: var(--layout-bg-color);
  }
  .side-navigation-bar.active {
    right: 0;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.5);
  }
 

  .side-navigation-bar > .primary {

    height: calc(var(--nav-height) + var(--nav-vertical-padding));
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 4vw);
    padding: 0 2vw;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
 
  .side-navigation-bar > .primary  > .hide-button {
    padding: .5vw 1vw;
    border-radius: 2vw;
    border: none;
    width: 6vw;
    height: 6vw;
    background-color: transparent;
  }
  
  .side-navigation-bar > .navigation-button-wrapper {
    width: 100%;
    overflow-y: scroll;
    margin-top: 1vw;
  }
  
  .side-navigation-bar > .navigation-button-wrapper > a {
    width: 100%;
    text-decoration: none;
  }
  .side-navigation-bar > .navigation-button-wrapper  button {
    width: 100%;
    padding: 2vw;
    background-color: var(--layout-bg-color);
    color: var(--paragraph-color);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  
  .side-navigation-bar > .navigation-button-wrapper > a:is(:active,.active) > button {
    filter: brightness(90%);
  }

  .side-navigation-bar > .navigation-button-wrapper > a > button > .name {
    font-size: 4vw; 
  }
  .side-navigation-bar > .navigation-button-wrapper  button > .svgCont {
    width: 6vw;
    height: 6vw;
  }
  .side-navigation-bar > .navigation-button-wrapper  button > .svgCont  .fill {
   fill: var(--icon-color);
  }
  .side-navigation-bar>.navigation-button-wrapper>a>button.profile-button>.svgCont {
    width: 4vw;
    height: 4vw;
  }
  .side-navigation-bar>.navigation-button-wrapper>a>button.create-new-challenge-button>.svgCont {
    width: 5vw;
    height: 5vw;
  }
  
  
  .side-navigation-bar > .navigation-button-wrapper > .logout-button {
    font-size: 4vw;
    border: none;
    color: red;
  }
  .side-navigation-bar > .navigation-button-wrapper > .logout-button:active {
    filter: brightness(90%);  
  }
  .side-navigation-bar>.navigation-button-wrapper > .logout-button .svgCont .fill{
    fill: red;
   }
  .side-navigation-bar>.navigation-button-wrapper>a>.notifications-button > .svgCont {
    position: relative;
    width: 7vw;
    height: 7vw;
  }
  
  .side-navigation-bar>.navigation-button-wrapper>a>.notifications-button > .svgCont > .badge {
    border: 1px solid white;
    font-size: 2.5vw;
    top: 0;
    right: 0;
  }