
.signin-form {
  position: absolute;
  top: 25%;
  left: calc(11% - 2%);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 1% 5% 1%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
   background-color: var(--container-bg-color);
  
  }
  
  .signin-form>.heading {
  font-style: italic;
  color:var(--paragraph-color-primary);
  font-size: 7vw;
  margin-bottom: 3vh;
  }
  
  .signin-form > .outlined-custom-field {
    width: 90%;
    --input-font-size: 4vw;
    --label-font-size: 3vw;
   }

   
  .signin-form > .message {
  width: 90%;
  color: red;
  font-size: 2.5vw;  
  margin-top: .3vw;
  margin-bottom: 2vw;
  }
  
  .signin-form > .have-not-account {
  width: 90%;
  margin-bottom: 2vw;
  font-size: 4vw;
  }
  .signin-form > .have-not-account a{
    /* text-decoration: none; */
    color: var(--theme-secondary-default);
    
  }
  
  .signin-form > button[type="submit"] {
    width: 60%;
    font-weight: bold;
    background-color: orangered;
    color: white;
    padding: min(2vw,6px);
    border: none;
    border-radius: 1vw;
    font-size: 3vw;
    }
    .signin-form :is(button[type="submit"]:hover,button[type="submit"]:active) {
    background-color: orange;
    }