
 .text-field {
    position: relative;

  }
  
   .text-field > :is(input,textarea) {
    width: 100%;
    padding: 1vw 0;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-size: var(--font-size);
   
  }
   .text-field > label {
    position: absolute;
    top:0;
    left: 0;
    padding: 1vw 0;
    color: var(--color);
    pointer-events: none;
    transition: .5s;
    font-size: var(--font-size);

  }
 
   .text-field > :is(input,textarea):is(:focus,:valid) ~ label {
    top: -80%;
    left: 0;
    color: var(--active-color);
    font-size: calc(var(--font-size) / 1.2);
  }
  