

.users-short-info-wrapper {
    gap: 5vw;
} 

.users-short-info-wrapper > a{
    color: inherit;
    text-decoration: none;
    width: 100%;
  }
  .users-short-info-wrapper > a:active{
    filter: brightness(70%);
   }
.users-short-info-wrapper .user-short-info{
    width: calc(100% - 8vw);
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    padding: 2vw 4vw;
    border-radius: 3vw;
    background-color: var(--container-bg-color);
    gap: 1.5vw;

  }
 
  
  .users-short-info-wrapper .user-short-info >  .user-logo{
   width: 13vw;
   height: 13vw;
   border-width: .5vw;
   --level-badge-font-size: 2vw;
  } 
  
  .users-short-info-wrapper .user-short-info >  .info-wrapper > .name{
    font-size: 5vw;
    font-weight: 500;
  }
  
  .users-short-info-wrapper .user-short-info >   .info-wrapper > .rank{
    color: var(--paragraph-color-secondary);
   font-size: 4vw;
  }  
  