.user-logo{
   position: relative;
    border-style: solid;
    border-color: var(--status-color);
    
}   

.user-logo.sigma{
    --status-color: var(--sigma-color);
}   
   
.user-logo.alpha{
    --status-color: var(--alpha-color);
}

.user-logo.beta{
    --status-color: var(--beta-color);
}

.user-logo.gamma{
    --status-color: var(--gamma-color);
}

.user-logo.delta{
    --status-color: var(--delta-color);
}

.user-logo.omega{
    --status-color: var(--omega-color);
}

.user-logo > .level-badge{
  font-size: var(--level-badge-font-size);  
  background-color: var(--status-color);
  border-radius: 100%;
  padding: calc(var(--level-badge-font-size) / 6) calc(var(--level-badge-font-size) / 2);
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  font-weight: bold;
  border: calc(var(--level-badge-font-size) / 5) solid var(--layout-bg-color);
}