 @media screen and (min-width: 700px) {
.challenges-section {
  gap: 10px;
justify-content: center;
gap: 70px;
}
.challenges-section > .primary {
}


.challenges-section > .secondary {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: max-content;
  justify-content: start;
  align-items: center;
  background-color: var(--container-bg-color-secondary);
  border-radius: 12px;
  padding: 10px 20px;
  gap: 50px;
}
.challenges-section > .secondary > hr {
 width: 100%;
}

.challenges-section > .secondary > .author-progress > div[role="progressbar"] {
--size: 160px;
}

.challenges-section > .secondary > .view-profile-button{
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 4px 8px;
  border-radius: 8px;
}
 }
