@media screen  and (min-width: 650px) {
  :root {
  }
  
  .main-nav {
  }
  
  .main-nav.half-transparent {
  }
  
  .main-nav > .content-wrapper{
  }
  
  .main-nav > .content-wrapper > .primary  {
    gap: 30px;
  }
  
  .main-nav > .content-wrapper > .primary > .site-brand {
  }
  
  .main-nav > .content-wrapper > .primary > .site-brand > .svgCont {
  }
  
  .main-nav > .content-wrapper > .primary > .site-brand > .app-name{
  }
  
  .main-nav > .content-wrapper > .primary >  .navigation-buttons-wrapper{
    display: flex;
    gap: 40px;
  }
  .main-nav > .content-wrapper > .primary >  .navigation-buttons-wrapper > a {
    font-size: 17px;
    background-color: transparent;
    border: none;
    color: var(--paragraph-color-primary);
    text-decoration: none;
  }
  .main-nav > .content-wrapper > .primary >  .navigation-buttons-wrapper > a.active {
    color: var(--theme-secondary-default);
  }
  .main-nav > .content-wrapper > .secondary {
  }
  
  .main-nav > .content-wrapper > .secondary > .signin-button {
  }
  
  .main-nav > .content-wrapper > .secondary > .notification-button {
  }
  
  .main-nav > .content-wrapper > .secondary > .notification-button.active  {
  }
  
  .main-nav > .content-wrapper > .secondary > .notification-button .fill  {
  }
  
  .main-nav > .content-wrapper > .secondary > .notification-button > .badge {
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper{
    position: relative;
  }
  /* profile menu */
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu {
   width: 260px;
   top: calc(var(--nav-height) + var(--nav-vertical-padding) + 2px);
   right: 0;
   left: unset;
   border-radius: 10px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu.open {
    height:max-content;
  }
 
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view {
   width: 100%;
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary {
    gap: 8px;
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary > .user-profile-short-view > .primary > .user-avatar {
    width: 60px;
    height: 60px;
    border-width: 1.5px ; 
    --level-badge-font-size: 10px;
  }
  
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .primary  > .hide-button {
  display: none;
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu > .secondary hr{
   display: none;
  }
  .main-nav > .content-wrapper > .secondary > .profile-button-wrapper > .profile-menu >  .secondary > .navigation-buttons-wrapper{
   display: none;
  }




  .main-nav > .content-wrapper > .secondary > .profile-button {
  }
  
  .main-nav > .content-wrapper > .secondary > .profile-button .user-avatar {
  }
  
  .main-nav > .content-wrapper > .notifications-section {
  }
 
  
}