@media screen and (min-width: 425px) {
.profile-edit-form{
  width: calc(350px - 30px);
  height: calc(300px - 16px);
  padding: 8px 15px;
  border-radius: 8px;
}
.profile-edit-form > .top-nav{
  padding-bottom: 8px;
}

.profile-edit-form > .top-nav > .back-button::after{
  border-width: 2px 2px 0 0;
  font-size: 11px;
} 
.profile-edit-form > .top-nav > .close-button{
  width: 20px;
  height: 20px;
}
/* primary */
.profile-edit-form > .primary{
  gap: 8px;
} 
.profile-edit-form > .primary > .profile-view{
  margin: 20px 0 20px 0;
  gap: 4px;
}
.profile-edit-form > .primary > .profile-view > .user-avatar-label > .user-avatar{
  width: 80px;
  height: 80px;
 --level-badge-font-size: 12px;
}
.profile-edit-form > .primary > .profile-view > .name{
  font-size:17px;
}
.profile-edit-form > .primary > .edit-buttons-wrapper{
  border-radius: 8px;
  gap: 2px;
}
.profile-edit-form > .primary > .edit-buttons-wrapper > .button{
  padding: 13px;
   font-size:  13px;
}
/*  form */
.profile-edit-form > .form{
  height: 90%;
}
.profile-edit-form > .form > .title{
  font-size: 20px;
  margin-bottom: 20px;
}
.profile-edit-form > .form > .outlined-custom-field{
  --input-font-size: 15px;
  --label-font-size: 15px;
}
.profile-edit-form > .form > .outlined-custom-field > input{
 padding: 8px;
} 

.profile-edit-form > .form > .message{
  margin-top: 4px;
  font-size: 11px;
}
.profile-edit-form > .form > .submit-button{
  padding: 7px;
  font-size: 15px;
  border-radius: 4px;
}

}