@media screen and (min-width: 700px) {
  .profile{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;    
    padding: 0 20px;
    width:calc(100% - 40px);
    gap: 20px;
  }
  .profile > .info-section {
    width: 40%;
  }
  .profile >.recent-challenges { 
    width: 50%;
  }

}