 @media screen and (min-width: 800px) {
.challenges-section {
  align-items: top;
  justify-content: space-between;
}
.challenges-section > .primary {
  width: 50%;
}
.challenges-section > .primary > .challenges-section-nav {
}
.challenges-section > .primary >.challenge-cards-wrapper {
 
}
.challenges-section > .secondary{
  display: block;
  width: 40%;
  background-color: darkred;
  
}


  
}


/* 
@media screen and (min-width: 375px) {
  .challenges-section {
    margin-top: 70px;
    width: calc(100% - 24px);
    padding: 0 12px;
    gap: 8px;
  }
  .challenges-section > .primary > .challenges-section-nav {
    border-radius: 12px;
  }
  .challenges-section >.primary > .challenge-cards-wrapper {
    gap: 15px;
    padding: 12px 0;
    border-radius:  12px;
  }
} */