 @media screen and (min-width: 768px) {

  .settings-section > .header {
    padding: 50px 0 70px  0;
    
  }
  .settings-section > .header > .background{
    height: calc(100% + 70px);
  }

  .settings-section > .header > .user-primary-info-wrapper {
    flex-direction: row;
    gap: 15px;
    width: 450px;
    margin-right: 250px;
  }

  .settings-section > .header > .user-primary-info-wrapper > .user-avatar-label >  .user-avatar{
    width: 130px;
    height: 130px;
  }
  .settings-section > .header > .user-primary-info-wrapper > .user-avatar-label:hover >  .user-avatar{
    filter: brightness(50%);
 }
 .settings-section > .header > .user-primary-info-wrapper > .user-avatar-label >  svg{
  top: 29px;
  left: 29px;
}
 .settings-section > .header > .user-primary-info-wrapper > .user-avatar-label:hover >  svg{
  display: block;
 }
 
 .settings-section > .header > .user-primary-info-wrapper > .text-wrapper{
  align-items: flex-start;
}
  .settings-section > .main-content > .navigation-buttons-wrapper {
    width: 250px;
    margin-top: 60px;
    margin-right: 30px;
  }
  
  .settings-section > .main-content > .content {
    width: 450px;
    border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.2s;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5) !important;
  position: initial;
 }

  .settings-section > .main-content > .content:hover {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.5) !important;
  } 
  .settings-section > .main-content > .content > .content-show-button {
    display: none;
  }  
  .settings-section > .main-content > .content > .header {
    display: none;
  }  
 
  .settings-section > .main-content > .content > .outlet-wrapper > .outlet {
    height: max-content;
   }
   
}

@media screen and (min-width: 992px) {
    
  .settings-section > .header > .user-primary-info-wrapper {
    margin-right: 450px;
  }
  .settings-section > .main-content > .navigation-buttons-wrapper {
    margin-right: 10px;
  }
  
  .settings-section > .main-content > .content {
    width: 680px;
  }
  .settings-section > .main-content > .content > .outlet-wrapper section > .content-wrapper > .content   {
    flex-direction: row;
 }  
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.connect-type > .platform{
  width: 30%;
  justify-content: flex-start;
}
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content  > .title{
  width: 30%;
 }
 
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.privacy-type  > .title{
  font-size: 17px;
 
} 
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content  > .value-wrapper{
  width: 50%;
 }
}

@media screen and (min-width: 1200px) {
    
  .settings-section > .header > .user-primary-info-wrapper {
    margin-right: 600px;
  }
  .settings-section > .main-content > .navigation-buttons-wrapper {
    width: 300px;
  }
  
  .settings-section > .main-content > .content {
    width: 850px;
  }
  .settings-section > .main-content > .content > .outlet-wrapper section > .content-wrapper > .content   {
    flex-direction: row;
 }  
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.connect-type > .platform{
  width: 30%;
  justify-content: flex-start;
}
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content  > .title{
  width: 30%;
 }
 
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content.privacy-type  > .title{
  font-size: 17px;
 
} 
 .settings-section > .main-content > .content >  .outlet-wrapper section > .content-wrapper > .content  > .value-wrapper{
  width: 50%;
 }

}